## PROJECT

## Import Libraries

In [5]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value=" toggle code."></form>''')

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz0111', api_key='EkmPvnKrZSsK9wycPPbE')

In [2]:
import plotly.offline as offline

In [3]:
%matplotlib inline

In [4]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

## Read Files

In [5]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [6]:
df.shape , df.columns

((1365678, 21),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours', 'wom', 'day_of_week'],
       dtype='object'))

In [7]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Bill Payment')])

In [8]:
df = df.reset_index(drop=True)

In [9]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,...,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours,wom,day_of_week
0,2017-04-01 00:00:22,2017-04-01,00:00:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3957.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,3952.40,1,4,Saturday,0,0,5
1,2017-04-01 00:00:32,2017-04-01,00:00:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2859.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,2854.40,1,4,Saturday,0,0,5
2,2017-04-01 00:01:33,2017-04-01,00:01:33,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,643.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,638.40,1,4,Saturday,0,0,5
3,2017-04-01 00:01:58,2017-04-01,00:01:58,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1387.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,1382.42,1,4,Saturday,0,0,5
4,2017-04-01 00:02:25,2017-04-01,00:02:25,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,5563.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,5558.40,1,4,Saturday,0,0,5
5,2017-04-01 00:02:30,2017-04-01,00:02:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2407.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,2402.40,1,4,Saturday,0,0,5
6,2017-04-01 00:03:30,2017-04-01,00:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2080.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,2075.40,1,4,Saturday,0,0,5
7,2017-04-01 00:04:17,2017-04-01,00:04:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1635.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1630.40,1,4,Saturday,0,0,5
8,2017-04-01 00:05:26,2017-04-01,00:05:26,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,663.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,658.42,1,4,Saturday,0,0,5
9,2017-04-01 00:06:07,2017-04-01,00:06:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1615.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,1610.40,1,4,Saturday,0,0,5
10,2017-04-01 00:06:55,2017-04-01,00:06:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,230.0,0.0,0.0,4.0,...,Kohat,CAPTURED,4.60,225.40,1,4,Saturday,0,0,5
11,2017-04-01 00:07:13,2017-04-01,00:07:13,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1024.0,0.0,0.0,4.0,...,Gujrat,CAPTURED,4.60,1019.40,1,4,Saturday,0,0,5
12,2017-04-01 00:08:31,2017-04-01,00:08:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,309.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,304.42,1,4,Saturday,0,0,5
13,2017-04-01 00:10:03,2017-04-01,00:10:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2269.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,2264.40,1,4,Saturday,0,0,5
14,2017-04-01 00:11:34,2017-04-01,00:11:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2209.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,2204.42,1,4,Saturday,0,0,5
15,2017-04-01 00:11:38,2017-04-01,00:11:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3056.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,3051.40,1,4,Saturday,0,0,5
16,2017-04-01 00:13:19,2017-04-01,00:13:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1221.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1216.40,1,4,Saturday,0,0,5
17,2017-04-01 00:14:46,2017-04-01,00:14:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1491.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1486.40,1,4,Saturday,0,0,5
18,2017-04-01 00:17:20,2017-04-01,00:17:20,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1448.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1443.40,1,4,Saturday,0,0,5
19,2017-04-01 00:17:34,2017-04-01,00:17:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,698.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,693.42,1,4,Saturday,0,0,5
20,2017-04-01 00:19:04,2017-04-01,00:19:04,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1198.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1193.40,1,4,Saturday,0,0,5
21,2017-04-01 00:20:08,2017-04-01,00:20:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,626.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,621.42,1,4,Saturday,0,0,5
22,2017-04-01 00:20:41,2017-04-01,00:20:41,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4329.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,4324.40,1,4,Saturday,0,0,5
23,2017-04-01 00:24:22,2017-04-01,00:24:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1317.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1312.40,1,4,Saturday,0,0,5
24,2017-04-01 00:24:48,2017-04-01,00:24:48,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,124.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,119.42,1,4,Saturday,0,0,5
25,2017-04-01 00:26:07,2017-04-01,00:26:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,533.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,528.40,1,4,Saturday,0,0,5
26,2017-04-01 00:30:08,2017-04-01,00:30:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,833.0,0.0,0.0,4.0,...,Taxila,CAPTURED,4.58,828.42,1,4,Saturday,0,0,5
27,2017-04-01 00:37:18,2017-04-01,00:37:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,885.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,880.42,1,4,Saturday,0,0,5
28,2017-04-01 00:37:46,2017-04-01,00:37:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,797.0,0.0,0.0,4.0,...,Taxila,CAPTURED,4.58,792.42,1,4,Saturday,0,0,5
29,2017-04-01 00:39:42,2017-04-01,00:39:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,620.0,0.0,0.0,4.0,...,Lahore,CAPTURED,4.58,615.42,1,4,Saturday,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728972,2017-09-30 20:43:18,2017-09-30,20:43:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,998.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,993.40,30,9,Saturday,20,4,5
728973,2017-09-30 20:44:45,2017-09-30,20:44:45,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1021.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,1016.40,30,9,Saturday,20,4,5
728974,2017-09-30 20:46:49,2017-09-30,20:46:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,405.40,30,9,Saturday,20,4,5
728975,2017-09-30 20:47:32,2017-09-30,20:47:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,185.40,30,9,Saturday,20,4,5
728976,2017-09-30 20:48:19,2017-09-30,20:48:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,290.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,285.40,30,9,Saturday,20,4,5
728977,2017-09-30 20:49:03,2017-09-30,20:49:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,360.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,355.40,30,9,Saturday,20,4,5
728978,2017-09-30 20:49:46,2017-09-30,20:49:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20,4,5
728979,2017-09-30 20:49:59,2017-09-30,20:49:59,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,195.40,30,9,Saturday,20,4,5
728980,2017-09-30 20:50:22,2017-09-30,20:50:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20,4,5
728981,2017-09-30 20:51:00,2017-09-30,20:51:00,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,195.40,30,9,Saturday,20,4,5
728982,2017-09-30 20:56:42,2017-09-30,20:56:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,550.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,545.40,30,9,Saturday,20,4,5
728983,2017-09-30 20:58:55,2017-09-30,20:58:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,7472.0,0.0,0.0,4.0,...,Mingora,CAPTURED,4.48,7467.52,30,9,Saturday,20,4,5
728984,2017-09-30 21:05:39,2017-09-30,21:05:39,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4260.0,0.0,0.0,4.0,...,Attock,CAPTURED,4.60,4255.40,30,9,Saturday,21,4,5
728985,2017-09-30 21:09:31,2017-09-30,21:09:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2516.0,0.0,0.0,4.0,...,Sargodha,CAPTURED,4.58,2511.42,30,9,Saturday,21,4,5
728986,2017-09-30 21:11:47,2017-09-30,21:11:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1588.0,0.0,0.0,4.0,...,Sargodha,CAPTURED,4.58,1583.42,30,9,Saturday,21,4,5
728987,2017-09-30 21:12:43,2017-09-30,21:12:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,...,Attock,CAPTURED,4.60,405.40,30,9,Saturday,21,4,5
728988,2017-09-30 21:45:05,2017-09-30,21:45:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,220.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,215.40,30,9,Saturday,21,4,5
728989,2017-09-30 21:52:36,2017-09-30,21:52:36,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1110.0,0.0,0.0,4.0,...,Attock,CAPTURED,4.60,1105.40,30,9,Saturday,21,4,5
728990,2017-09-30 21:57:47,2017-09-30,21:57:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,457.0,0.0,0.0,4.0,...,Rawalpindi,CAPTURED,4.60,452.40,30,9,Saturday,21,4,5
728991,2017-09-30 21:58:49,2017-09-30,21:58:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1224.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,1219.40,30,9,Saturday,21,4,5
728992,2017-09-30 21:59:28,2017-09-30,21:59:28,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1423.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,1418.40,30,9,Saturday,21,4,5
728993,2017-09-30 22:00:17,2017-09-30,22:00:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1367.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,1362.40,30,9,Saturday,22,4,5
728994,2017-09-30 22:01:03,2017-09-30,22:01:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4914.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,4909.40,30,9,Saturday,22,4,5
728995,2017-09-30 22:02:09,2017-09-30,22:02:09,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3206.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,3201.40,30,9,Saturday,22,4,5
728996,2017-09-30 22:03:30,2017-09-30,22:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,330.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,325.40,30,9,Saturday,22,4,5
728997,2017-09-30 22:03:47,2017-09-30,22:03:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,681.0,0.0,0.0,4.0,...,Chakwal,CAPTURED,4.60,676.40,30,9,Saturday,22,4,5
728998,2017-09-30 22:16:38,2017-09-30,22:16:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3178.0,0.0,0.0,4.0,...,Narowal,CAPTURED,4.60,3173.40,30,9,Saturday,22,4,5
728999,2017-09-30 22:23:23,2017-09-30,22:23:23,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,...,Karachi,CAPTURED,4.60,205.40,30,9,Saturday,22,4,5
729000,2017-09-30 23:07:43,2017-09-30,23:07:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,...,Hyderabad,CAPTURED,4.60,185.40,30,9,Saturday,23,4,5
729001,2017-09-30 23:08:05,2017-09-30,23:08:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2222.0,0.0,0.0,4.0,...,Kasur,CAPTURED,4.58,2217.42,30,9,Saturday,23,4,5

In [10]:
df1 = df[['Month', 'date','Hours','Revnue']]

In [11]:
df1 = pd.DataFrame({'sum_inflow' : df1.groupby( ["Month", "date","Hours"] )["Revnue"].sum()}).reset_index()

In [12]:
#df.groupby(["Month", "date","Hours"])["Revnue"].transform('count')

In [38]:
df1.drop(columns='Fraud')

      Month  date  Hours  sum_inflow  Avg_inflow - Sum_inflow  Earning1
0         4     1      0    76132.42           -306814.559579         0
1         4     1      1     3019.48           -379927.499579         0
2         4     1      5      980.80           -381966.179579         0
3         4     1      6    11771.16           -371175.819579         0
4         4     1      7    10526.20           -372420.779579         0
5         4     1      8    86606.94           -296340.039579         0
6         4     1      9    94001.32           -288945.659579         0
7         4     1     10    94713.22           -288233.759579         0
8         4     1     11   191929.72           -191017.259579         0
9         4     1     12   121363.56           -261583.419579         0
10        4     1     13   100605.10           -282341.879579         0
11        4     1     14   140051.26           -242895.719579         0
12        4     1     15   157801.46           -225145.519579         0
13        4     1     16   204474.12           -178472.859579         0
14        4     1     17   143033.48           -239913.499579         0
15        4     1     18   122605.94           -260341.039579         0
16        4     1     19   177913.52           -205033.459579         0
17        4     1     20   121739.04           -261207.939579         0
18        4     1     21   298485.38            -84461.599579         0
19        4     1     22   107875.25           -275071.729579         0
20        4     1     23    76330.02           -306616.959579         0
21        4     2      0      275.40           -382671.579579         0
22        4     2      3     4555.40           -378391.579579         0
23        4     2      6    40471.58           -342475.399579         0
24        4     2      7    31212.54           -351734.439579         0
25        4     2      8    37169.66           -345777.319579         0
26        4     2      9    94223.46           -288723.519579         0
27        4     2     10   119408.12           -263538.859579         0
28        4     2     11   125952.92           -256994.059579         0
29        4     2     12   241288.64           -141658.339579         0
...     ...   ...    ...         ...                      ...       ...
3488      9    29     14   289064.68            -93882.299579         0
3489      9    29     15   472927.62             89980.640421         1
3490      9    29     16   578842.32            195895.340421         1
3491      9    29     17  1019567.26            636620.280421         1
3492      9    29     18   705566.88            322619.900421         1
3493      9    29     19   913620.58            530673.600421         1
3494      9    29     20   643639.28            260692.300421         1
3495      9    29     21   556143.64            173196.660421         1
3496      9    29     22   389136.12              6189.140421         1
3497      9    29     23   253992.72           -128954.259579         0
3498      9    30      0      205.40           -382741.579579         0
3499      9    30      5     1268.80           -381678.179579         0
3500      9    30      6    13279.60           -369667.379579         0
3501      9    30      7     5858.42           -377088.559579         0
3502      9    30      8    18021.66           -364925.319579         0
3503      9    30      9    37679.98           -345266.999579         0
3504      9    30     10    29831.34           -353115.639579         0
3505      9    30     11    29619.08           -353327.899579         0
3506      9    30     12    18181.54           -364765.439579         0
3507      9    30     13    10896.42           -372050.559579         0
3508      9    30     14    18188.44           -364758.539579         0
3509      9    30     15    15322.40           -367624.579579         0
3510      9    30     16    11412.04           -371534.939579         0
3511      9    30     17    26229.02           -356717.959579         0
3512      9    30     18    22265.36           -360681.619579         0
3513      9    30     19    28844.52           -354102.459579         0
3514      9    30     20    24527.08           -358419.899579         0
3515      9    30     21    13166.64           -369780.339579         0
3516      9    30     22    13853.80           -369093.179579         0
3517      9    30     23     2402.82           -380544.159579         0

[3518 rows x 6 columns]

In [13]:
df1.describe().astype(int)

       Month  date  Hours  sum_inflow
count   3518  3518   3518        3518
mean       6    15     12      382946
std        1     8      6      503943
min        4     1      0          22
25%        5     7      7       45569
50%        7    16     13      174443
75%        8    23     18      517128
max        9    31     23     3364082

In [14]:
Avg_inflow = df1.sum_inflow.mean()

In [15]:
df1['Avg_inflow - Sum_inflow'] = df1.sum_inflow - Avg_inflow

In [16]:
df1

      Month  date  Hours  sum_inflow  Avg_inflow - Sum_inflow
0         4     1      0    76132.42           -306814.559579
1         4     1      1     3019.48           -379927.499579
2         4     1      5      980.80           -381966.179579
3         4     1      6    11771.16           -371175.819579
4         4     1      7    10526.20           -372420.779579
5         4     1      8    86606.94           -296340.039579
6         4     1      9    94001.32           -288945.659579
7         4     1     10    94713.22           -288233.759579
8         4     1     11   191929.72           -191017.259579
9         4     1     12   121363.56           -261583.419579
10        4     1     13   100605.10           -282341.879579
11        4     1     14   140051.26           -242895.719579
12        4     1     15   157801.46           -225145.519579
13        4     1     16   204474.12           -178472.859579
14        4     1     17   143033.48           -239913.499579
15        4     1     18   122605.94           -260341.039579
16        4     1     19   177913.52           -205033.459579
17        4     1     20   121739.04           -261207.939579
18        4     1     21   298485.38            -84461.599579
19        4     1     22   107875.25           -275071.729579
20        4     1     23    76330.02           -306616.959579
21        4     2      0      275.40           -382671.579579
22        4     2      3     4555.40           -378391.579579
23        4     2      6    40471.58           -342475.399579
24        4     2      7    31212.54           -351734.439579
25        4     2      8    37169.66           -345777.319579
26        4     2      9    94223.46           -288723.519579
27        4     2     10   119408.12           -263538.859579
28        4     2     11   125952.92           -256994.059579
29        4     2     12   241288.64           -141658.339579
...     ...   ...    ...         ...                      ...
3488      9    29     14   289064.68            -93882.299579
3489      9    29     15   472927.62             89980.640421
3490      9    29     16   578842.32            195895.340421
3491      9    29     17  1019567.26            636620.280421
3492      9    29     18   705566.88            322619.900421
3493      9    29     19   913620.58            530673.600421
3494      9    29     20   643639.28            260692.300421
3495      9    29     21   556143.64            173196.660421
3496      9    29     22   389136.12              6189.140421
3497      9    29     23   253992.72           -128954.259579
3498      9    30      0      205.40           -382741.579579
3499      9    30      5     1268.80           -381678.179579
3500      9    30      6    13279.60           -369667.379579
3501      9    30      7     5858.42           -377088.559579
3502      9    30      8    18021.66           -364925.319579
3503      9    30      9    37679.98           -345266.999579
3504      9    30     10    29831.34           -353115.639579
3505      9    30     11    29619.08           -353327.899579
3506      9    30     12    18181.54           -364765.439579
3507      9    30     13    10896.42           -372050.559579
3508      9    30     14    18188.44           -364758.539579
3509      9    30     15    15322.40           -367624.579579
3510      9    30     16    11412.04           -371534.939579
3511      9    30     17    26229.02           -356717.959579
3512      9    30     18    22265.36           -360681.619579
3513      9    30     19    28844.52           -354102.459579
3514      9    30     20    24527.08           -358419.899579
3515      9    30     21    13166.64           -369780.339579
3516      9    30     22    13853.80           -369093.179579
3517      9    30     23     2402.82           -380544.159579

[3518 rows x 5 columns]

In [17]:
conditions = [
    (df1['Avg_inflow - Sum_inflow'].values >= 0),
    (df1['Avg_inflow - Sum_inflow'].values < 0)
    ]
choices = [1 , 0 ]
df1['Earning1'] = np.select(conditions, choices, default=1)

In [18]:
df1['Earning1'].value_counts().to_frame()

   Earning1
0      2419
1      1099

In [19]:
import matplotlib.pyplot as plt
from sklearn.cross_validation  import train_test_split
from sklearn import svm
from sklearn.svm import SVC

D:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [20]:
df1

      Month  date  Hours  sum_inflow  Avg_inflow - Sum_inflow  Earning1
0         4     1      0    76132.42           -306814.559579         0
1         4     1      1     3019.48           -379927.499579         0
2         4     1      5      980.80           -381966.179579         0
3         4     1      6    11771.16           -371175.819579         0
4         4     1      7    10526.20           -372420.779579         0
5         4     1      8    86606.94           -296340.039579         0
6         4     1      9    94001.32           -288945.659579         0
7         4     1     10    94713.22           -288233.759579         0
8         4     1     11   191929.72           -191017.259579         0
9         4     1     12   121363.56           -261583.419579         0
10        4     1     13   100605.10           -282341.879579         0
11        4     1     14   140051.26           -242895.719579         0
12        4     1     15   157801.46           -225145.519579         0
13        4     1     16   204474.12           -178472.859579         0
14        4     1     17   143033.48           -239913.499579         0
15        4     1     18   122605.94           -260341.039579         0
16        4     1     19   177913.52           -205033.459579         0
17        4     1     20   121739.04           -261207.939579         0
18        4     1     21   298485.38            -84461.599579         0
19        4     1     22   107875.25           -275071.729579         0
20        4     1     23    76330.02           -306616.959579         0
21        4     2      0      275.40           -382671.579579         0
22        4     2      3     4555.40           -378391.579579         0
23        4     2      6    40471.58           -342475.399579         0
24        4     2      7    31212.54           -351734.439579         0
25        4     2      8    37169.66           -345777.319579         0
26        4     2      9    94223.46           -288723.519579         0
27        4     2     10   119408.12           -263538.859579         0
28        4     2     11   125952.92           -256994.059579         0
29        4     2     12   241288.64           -141658.339579         0
...     ...   ...    ...         ...                      ...       ...
3488      9    29     14   289064.68            -93882.299579         0
3489      9    29     15   472927.62             89980.640421         1
3490      9    29     16   578842.32            195895.340421         1
3491      9    29     17  1019567.26            636620.280421         1
3492      9    29     18   705566.88            322619.900421         1
3493      9    29     19   913620.58            530673.600421         1
3494      9    29     20   643639.28            260692.300421         1
3495      9    29     21   556143.64            173196.660421         1
3496      9    29     22   389136.12              6189.140421         1
3497      9    29     23   253992.72           -128954.259579         0
3498      9    30      0      205.40           -382741.579579         0
3499      9    30      5     1268.80           -381678.179579         0
3500      9    30      6    13279.60           -369667.379579         0
3501      9    30      7     5858.42           -377088.559579         0
3502      9    30      8    18021.66           -364925.319579         0
3503      9    30      9    37679.98           -345266.999579         0
3504      9    30     10    29831.34           -353115.639579         0
3505      9    30     11    29619.08           -353327.899579         0
3506      9    30     12    18181.54           -364765.439579         0
3507      9    30     13    10896.42           -372050.559579         0
3508      9    30     14    18188.44           -364758.539579         0
3509      9    30     15    15322.40           -367624.579579         0
3510      9    30     16    11412.04           -371534.939579         0
3511      9    30     17    26229.02           -356717.959579         0
3512      9    30     18    22265.36           -360681.619579         0
3513      9    30     19    28844.52           -354102.459579         0
3514      9    30     20    24527.08           -358419.899579         0
3515      9    30     21    13166.64           -369780.339579         0
3516      9    30     22    13853.80           -369093.179579         0
3517      9    30     23     2402.82           -380544.159579         0

[3518 rows x 6 columns]

## divide data into X and  Y.

In [41]:
x = df1.iloc[:, [0,1,2]].values

In [42]:
y = df1.iloc[:, 5].values

In [43]:
x , y

(array([[ 4,  1,  0],
        [ 4,  1,  1],
        [ 4,  1,  5],
        ...,
        [ 9, 30, 21],
        [ 9, 30, 22],
        [ 9, 30, 23]], dtype=int64), array([0, 0, 0, ..., 0, 0, 0]))

## Divide data based on testing and training.

In [44]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=0)

In [45]:
from collections import Counter
Counter(y_train)

Counter({0: 1698, 1: 764})

In [46]:
from sklearn import svm

clf = svm.SVC(kernel='linear', C=100).fit(x_train, y_train)
clf.score(x_test, y_test)

0.76136363636363635

In [47]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='linear', C=1)
scores = cross_val_score(clf,x_test, y_test, cv=5)
scores

array([ 0.73584906,  0.75829384,  0.78199052,  0.77251185,  0.73933649])

In [48]:
from sklearn import preprocessing
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)
scaler = preprocessing.StandardScaler().fit(x_train)
x_train_transformed = scaler.transform(x_train)
clf = svm.SVC(C=1).fit(x_train_transformed, y_train)
x_test_transformed = scaler.transform(x_test)
clf.score(x_test_transformed, y_test)

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning:

Data with input dtype int64 was converted to float64 by StandardScaler.

0.79640151515151514

In [49]:
#Support vector regression
clf = svm.SVC()
#training
clf.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [50]:
#prediction
prd=clf.predict(x_test)

In [51]:
#accuracy
clf.score(x_test, y_test)

0.82102272727272729

In [52]:
#F1_score
from sklearn.metrics import f1_score
f1_score(y_test, prd, average='weighted')

0.8200515784878869

In [53]:
# svm classification
clf = svm.SVC(kernel='rbf', gamma=0.7, C = 1.0).fit(x_train, y_train)
y_predicted = clf.predict(x_test)

In [54]:
f1_score(y_test, y_predicted, average='weighted')

0.85521469502135894

In [63]:
from sklearn import metrics
# performance
print(metrics.accuracy_score(y_test, y_predicted))
print(metrics.precision_recall_fscore_support(y_test, y_predicted ))
print ("Confusion matrix")
print (metrics.confusion_matrix(y_test, y_predicted))

0.857954545455
(array([ 0.87418087,  0.81569966]), array([ 0.92510402,  0.71343284]), array([ 0.89892183,  0.7611465 ]), array([721, 335], dtype=int64))
Confusion matrix
[[667  54]
 [ 96 239]]