## PROJECT

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz0111', api_key='EkmPvnKrZSsK9wycPPbE')

In [2]:
import plotly.offline as offline

In [3]:
%matplotlib inline

In [4]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

## Read Files

In [5]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [6]:
df.shape , df.columns

((1365678, 21),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours', 'wom', 'day_of_week'],
       dtype='object'))

In [7]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Receive Money')])

In [8]:
df = df.reset_index(drop=True)

In [9]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,...,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours,wom,day_of_week
0,2017-04-01 00:04:50,2017-04-01,00:04:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,...,Karachi,CAPTURED,57.50,4942.50,1,4,Saturday,0,0,5
1,2017-04-01 00:05:10,2017-04-01,00:05:10,USSD,ROLE_AGENT_CHILD,OTC Receive Money,700.0,0.0,0.0,12.5,...,Hyderabad,CAPTURED,14.38,685.62,1,4,Saturday,0,0,5
2,2017-04-01 00:39:50,2017-04-01,00:39:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Karachi,CAPTURED,43.13,2956.87,1,4,Saturday,0,0,5
3,2017-04-01 01:22:48,2017-04-01,01:22:48,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Lahore,CAPTURED,115.00,14885.00,1,4,Saturday,1,0,5
4,2017-04-01 06:51:28,2017-04-01,06:51:28,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,...,Gujranwala,CAPTURED,43.13,3956.87,1,4,Saturday,6,0,5
5,2017-04-01 07:16:58,2017-04-01,07:16:58,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Jhang,CAPTURED,43.13,2956.87,1,4,Saturday,7,0,5
6,2017-04-01 07:17:21,2017-04-01,07:17:21,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,...,Bahawalnagar,CAPTURED,14.38,985.62,1,4,Saturday,7,0,5
7,2017-04-01 07:40:53,2017-04-01,07:40:53,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1500.0,0.0,0.0,25.0,...,Bannu,CAPTURED,28.75,1471.25,1,4,Saturday,7,0,5
8,2017-04-01 07:42:09,2017-04-01,07:42:09,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,...,Kot-Addu,CAPTURED,28.75,1971.25,1,4,Saturday,7,0,5
9,2017-04-01 07:42:54,2017-04-01,07:42:54,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,...,Wazirabad,CAPTURED,14.30,985.70,1,4,Saturday,7,0,5
10,2017-04-01 07:59:22,2017-04-01,07:59:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,...,Fort-Abbas,CAPTURED,57.50,4942.50,1,4,Saturday,7,0,5
11,2017-04-01 08:04:19,2017-04-01,08:04:19,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,...,Kohat,CAPTURED,28.75,1971.25,1,4,Saturday,8,0,5
12,2017-04-01 08:05:52,2017-04-01,08:05:52,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,...,Khurrianwala,CAPTURED,14.38,925.62,1,4,Saturday,8,0,5
13,2017-04-01 08:06:42,2017-04-01,08:06:42,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,...,Vehari,CAPTURED,14.38,925.62,1,4,Saturday,8,0,5
14,2017-04-01 07:50:11,2017-04-01,07:50:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Peshawar,CAPTURED,43.13,2956.87,1,4,Saturday,7,0,5
15,2017-04-01 07:56:29,2017-04-01,07:56:29,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Lakki-Marwat,CAPTURED,43.13,2956.87,1,4,Saturday,7,0,5
16,2017-04-01 07:57:15,2017-04-01,07:57:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,...,Rajanpur,CAPTURED,28.75,2351.25,1,4,Saturday,7,0,5
17,2017-04-01 08:06:59,2017-04-01,08:06:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,500.0,0.0,0.0,12.5,...,Lahore,CAPTURED,14.38,485.62,1,4,Saturday,8,0,5
18,2017-04-01 08:07:57,2017-04-01,08:07:57,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2500.0,0.0,0.0,25.0,...,Jaranwala,CAPTURED,28.75,2471.25,1,4,Saturday,8,0,5
19,2017-04-01 08:10:07,2017-04-01,08:10:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Kalat,CAPTURED,43.13,2956.87,1,4,Saturday,8,0,5
20,2017-04-01 08:10:34,2017-04-01,08:10:34,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,...,Peshawar,CAPTURED,57.20,4942.80,1,4,Saturday,8,0,5
21,2017-04-01 08:15:35,2017-04-01,08:15:35,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2820.0,0.0,0.0,37.5,...,Multan,CAPTURED,43.13,2776.87,1,4,Saturday,8,0,5
22,2017-04-01 08:17:18,2017-04-01,08:17:18,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,...,Shakrghar,CAPTURED,85.80,9914.20,1,4,Saturday,8,0,5
23,2017-04-01 08:17:30,2017-04-01,08:17:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,...,Moro,CAPTURED,14.38,925.62,1,4,Saturday,8,0,5
24,2017-04-01 08:18:47,2017-04-01,08:18:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,...,Karak,CAPTURED,86.25,9913.75,1,4,Saturday,8,0,5
25,2017-04-01 08:19:31,2017-04-01,08:19:31,USSD,ROLE_AGENT_CHILD,OTC Receive Money,11000.0,0.0,0.0,87.5,...,Sargodha,CAPTURED,100.63,10899.37,1,4,Saturday,8,0,5
26,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,12000.0,0.0,0.0,87.5,...,Bajour,CAPTURED,98.00,11902.00,1,4,Saturday,8,0,5
27,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,...,Mandi-Bahauddin,CAPTURED,86.25,9913.75,1,4,Saturday,8,0,5
28,2017-04-01 08:21:49,2017-04-01,08:21:49,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,...,Lakki-Marwat,CAPTURED,14.38,985.62,1,4,Saturday,8,0,5
29,2017-04-01 08:22:27,2017-04-01,08:22:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,...,Chishtian,CAPTURED,57.20,4942.80,1,4,Saturday,8,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177615,2017-06-30 21:37:27,2017-06-30,21:37:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,...,Lahore,CAPTURED,57.20,4702.80,30,6,Friday,21,4,4
177616,2017-06-30 21:39:24,2017-06-30,21:39:24,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,...,Gujar-Khan,CAPTURED,28.75,1971.25,30,6,Friday,21,4,4
177617,2017-06-30 21:44:22,2017-06-30,21:44:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Rawalpindi,CAPTURED,42.90,2957.10,30,6,Friday,21,4,4
177618,2017-06-30 21:45:04,2017-06-30,21:45:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177619,2017-06-30 21:45:07,2017-06-30,21:45:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Lahore,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177620,2017-06-30 21:46:15,2017-06-30,21:46:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177621,2017-06-30 21:46:27,2017-06-30,21:46:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1880.0,0.0,0.0,25.0,...,Kasur,CAPTURED,28.75,1851.25,30,6,Friday,21,4,4
177622,2017-06-30 21:46:44,2017-06-30,21:46:44,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177623,2017-06-30 21:47:15,2017-06-30,21:47:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,...,Rawalpindi,CAPTURED,28.75,1971.25,30,6,Friday,21,4,4
177624,2017-06-30 21:47:32,2017-06-30,21:47:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177625,2017-06-30 21:49:11,2017-06-30,21:49:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,...,Burewala,CAPTURED,43.13,3956.87,30,6,Friday,21,4,4
177626,2017-06-30 21:49:27,2017-06-30,21:49:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,...,Gujranwala,CAPTURED,14.30,985.70,30,6,Friday,21,4,4
177627,2017-06-30 21:50:04,2017-06-30,21:50:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177628,2017-06-30 21:55:47,2017-06-30,21:55:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,...,Sialkot,CAPTURED,28.60,2351.40,30,6,Friday,21,4,4
177629,2017-06-30 21:52:59,2017-06-30,21:52:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177630,2017-06-30 21:53:39,2017-06-30,21:53:39,USSD,ROLE_AGENT_CHILD,OTC Receive Money,6000.0,0.0,0.0,50.0,...,Sukkur,CAPTURED,57.50,5942.50,30,6,Friday,21,4,4
177631,2017-06-30 21:56:32,2017-06-30,21:56:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4,4
177632,2017-06-30 21:57:05,2017-06-30,21:57:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,...,Lahore,CAPTURED,57.50,4702.50,30,6,Friday,21,4,4
177633,2017-06-30 21:57:13,2017-06-30,21:57:13,USSD,ROLE_AGENT_CHILD,OTC Receive Money,14550.0,0.0,0.0,100.0,...,Lahore,CAPTURED,115.00,14435.00,30,6,Friday,21,4,4
177634,2017-06-30 22:00:40,2017-06-30,22:00:40,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4,4
177635,2017-06-30 22:01:30,2017-06-30,22:01:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,...,Wazirabad,CAPTURED,57.20,4702.80,30,6,Friday,22,4,4
177636,2017-06-30 22:03:45,2017-06-30,22:03:45,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Faisalabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4,4
177637,2017-06-30 22:06:00,2017-06-30,22:06:00,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4,4
177638,2017-06-30 22:07:56,2017-06-30,22:07:56,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,...,Lahore,CAPTURED,57.50,4942.50,30,6,Friday,22,4,4
177639,2017-06-30 22:08:07,2017-06-30,22:08:07,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4,4
177640,2017-06-30 22:08:08,2017-06-30,22:08:08,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,...,Lahore,CAPTURED,42.90,2957.10,30,6,Friday,22,4,4
177641,2017-06-30 22:08:22,2017-06-30,22:08:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,22,4,4
177642,2017-06-30 22:08:44,2017-06-30,22:08:44,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4,4
177643,2017-06-30 22:09:05,2017-06-30,22:09:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,9650.0,0.0,0.0,75.0,...,Batkhela,CAPTURED,84.00,9566.00,30,6,Friday,22,4,4
177644,2017-06-30 22:09:19,2017-06-30,22:09:19,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,...,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4,4

In [10]:
df1 = df[['Month', 'date','Hours','Revnue']]

In [11]:
df1 = pd.DataFrame({'sum_inflow' : df1.groupby( ["Month", "date","Hours"] )["Revnue"].sum()}).reset_index()

In [24]:
#df.groupby(["Month", "date","Hours"])["Revnue"].transform('count')

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
df1

      Month  date  Hours  sum_inflow
0         4     1      0     8584.99
1         4     1      1    14885.00
2         4     1      6     3956.87
3         4     1      7    21578.18
4         4     1      8   294238.77
5         4     1      9   658230.48
6         4     1     10   991479.70
7         4     1     11  1661693.65
8         4     1     12  1696291.31
9         4     1     13  1449213.88
10        4     1     14  1325460.47
11        4     1     15  1414659.56
12        4     1     16  1646276.36
13        4     1     17  1433033.89
14        4     1     18  1402949.56
15        4     1     19  1407036.76
16        4     1     20   754335.11
17        4     1     21   546171.97
18        4     1     22   194570.14
19        4     1     23    76424.46
20        4     2      0     1471.25
21        4     2      7    36322.91
22        4     2      8   287218.02
23        4     2      9   488694.66
24        4     2     10   874064.38
25        4     2     11   985887.62
26        4     2     12  1007375.03
27        4     2     13   738109.56
28        4     2     14   547937.07
29        4     2     15   703915.82
...     ...   ...    ...         ...
1429      6    29     12   448042.49
1430      6    29     13   175339.24
1431      6    29     14   595282.22
1432      6    29     15   496864.55
1433      6    29     16   529778.87
1434      6    29     17   652790.32
1435      6    29     18   685702.57
1436      6    29     19   579430.24
1437      6    29     20   324702.49
1438      6    29     21   313950.82
1439      6    29     22   253581.89
1440      6    29     23   167889.70
1441      6    30      1     1971.25
1442      6    30      6    25900.00
1443      6    30      7    42718.90
1444      6    30      8   152707.06
1445      6    30      9   292071.47
1446      6    30     10   627044.88
1447      6    30     11   691310.63
1448      6    30     12   689443.09
1449      6    30     13   291133.63
1450      6    30     14   314165.34
1451      6    30     15   487638.12
1452      6    30     16   773544.59
1453      6    30     17   896715.69
1454      6    30     18   825614.62
1455      6    30     19   864592.32
1456      6    30     20   745862.08
1457      6    30     21   489543.79
1458      6    30     22   126372.40

[1459 rows x 4 columns]

In [13]:
df1.describe().astype(int)

       Month  date  Hours  sum_inflow
count   1459  1459   1459        1459
mean       5    14     13      659281
std        0     8      6      520661
min        4     1      0         485
25%        5     7      9      157445
50%        5    15     14      658230
75%        6    21     18     1021106
max        6    30     23     3010002

In [15]:
Avg_inflow = df1.sum_inflow.mean()

In [16]:
df1['Avg_inflow - Sum_inflow'] = df1.sum_inflow - Avg_inflow

In [17]:
df1

      Month  date  Hours  sum_inflow  Avg_inflow - Sum_inflow
0         4     1      0     8584.99            -6.506961e+05
1         4     1      1    14885.00            -6.443961e+05
2         4     1      6     3956.87            -6.553242e+05
3         4     1      7    21578.18            -6.377029e+05
4         4     1      8   294238.77            -3.650423e+05
5         4     1      9   658230.48            -1.050573e+03
6         4     1     10   991479.70             3.321986e+05
7         4     1     11  1661693.65             1.002413e+06
8         4     1     12  1696291.31             1.037010e+06
9         4     1     13  1449213.88             7.899328e+05
10        4     1     14  1325460.47             6.661794e+05
11        4     1     15  1414659.56             7.553785e+05
12        4     1     16  1646276.36             9.869953e+05
13        4     1     17  1433033.89             7.737528e+05
14        4     1     18  1402949.56             7.436685e+05
15        4     1     19  1407036.76             7.477557e+05
16        4     1     20   754335.11             9.505406e+04
17        4     1     21   546171.97            -1.131091e+05
18        4     1     22   194570.14            -4.647109e+05
19        4     1     23    76424.46            -5.828566e+05
20        4     2      0     1471.25            -6.578098e+05
21        4     2      7    36322.91            -6.229581e+05
22        4     2      8   287218.02            -3.720630e+05
23        4     2      9   488694.66            -1.705864e+05
24        4     2     10   874064.38             2.147833e+05
25        4     2     11   985887.62             3.266066e+05
26        4     2     12  1007375.03             3.480940e+05
27        4     2     13   738109.56             7.882851e+04
28        4     2     14   547937.07            -1.113440e+05
29        4     2     15   703915.82             4.463477e+04
...     ...   ...    ...         ...                      ...
1429      6    29     12   448042.49            -2.112386e+05
1430      6    29     13   175339.24            -4.839418e+05
1431      6    29     14   595282.22            -6.399883e+04
1432      6    29     15   496864.55            -1.624165e+05
1433      6    29     16   529778.87            -1.295022e+05
1434      6    29     17   652790.32            -6.490733e+03
1435      6    29     18   685702.57             2.642152e+04
1436      6    29     19   579430.24            -7.985081e+04
1437      6    29     20   324702.49            -3.345786e+05
1438      6    29     21   313950.82            -3.453302e+05
1439      6    29     22   253581.89            -4.056992e+05
1440      6    29     23   167889.70            -4.913914e+05
1441      6    30      1     1971.25            -6.573098e+05
1442      6    30      6    25900.00            -6.333811e+05
1443      6    30      7    42718.90            -6.165622e+05
1444      6    30      8   152707.06            -5.065740e+05
1445      6    30      9   292071.47            -3.672096e+05
1446      6    30     10   627044.88            -3.223617e+04
1447      6    30     11   691310.63             3.202958e+04
1448      6    30     12   689443.09             3.016204e+04
1449      6    30     13   291133.63            -3.681474e+05
1450      6    30     14   314165.34            -3.451157e+05
1451      6    30     15   487638.12            -1.716429e+05
1452      6    30     16   773544.59             1.142635e+05
1453      6    30     17   896715.69             2.374346e+05
1454      6    30     18   825614.62             1.663336e+05
1455      6    30     19   864592.32             2.053113e+05
1456      6    30     20   745862.08             8.658103e+04
1457      6    30     21   489543.79            -1.697373e+05
1458      6    30     22   126372.40            -5.329087e+05

[1459 rows x 5 columns]

In [18]:
conditions = [
    (df1['Avg_inflow - Sum_inflow'].values >= 0),
    (df1['Avg_inflow - Sum_inflow'].values < 0)
    ]
choices = [1 , 0 ]
df1['Earning1'] = np.select(conditions, choices, default=0)

In [19]:
df1['Earning1'].value_counts().to_frame()

   Earning1
0       730
1       729

In [20]:
import matplotlib.pyplot as plt
from sklearn.cross_validation  import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

D:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [21]:
df1

      Month  date  Hours  sum_inflow  Avg_inflow - Sum_inflow  Earning1
0         4     1      0     8584.99            -6.506961e+05         0
1         4     1      1    14885.00            -6.443961e+05         0
2         4     1      6     3956.87            -6.553242e+05         0
3         4     1      7    21578.18            -6.377029e+05         0
4         4     1      8   294238.77            -3.650423e+05         0
5         4     1      9   658230.48            -1.050573e+03         0
6         4     1     10   991479.70             3.321986e+05         1
7         4     1     11  1661693.65             1.002413e+06         1
8         4     1     12  1696291.31             1.037010e+06         1
9         4     1     13  1449213.88             7.899328e+05         1
10        4     1     14  1325460.47             6.661794e+05         1
11        4     1     15  1414659.56             7.553785e+05         1
12        4     1     16  1646276.36             9.869953e+05         1
13        4     1     17  1433033.89             7.737528e+05         1
14        4     1     18  1402949.56             7.436685e+05         1
15        4     1     19  1407036.76             7.477557e+05         1
16        4     1     20   754335.11             9.505406e+04         1
17        4     1     21   546171.97            -1.131091e+05         0
18        4     1     22   194570.14            -4.647109e+05         0
19        4     1     23    76424.46            -5.828566e+05         0
20        4     2      0     1471.25            -6.578098e+05         0
21        4     2      7    36322.91            -6.229581e+05         0
22        4     2      8   287218.02            -3.720630e+05         0
23        4     2      9   488694.66            -1.705864e+05         0
24        4     2     10   874064.38             2.147833e+05         1
25        4     2     11   985887.62             3.266066e+05         1
26        4     2     12  1007375.03             3.480940e+05         1
27        4     2     13   738109.56             7.882851e+04         1
28        4     2     14   547937.07            -1.113440e+05         0
29        4     2     15   703915.82             4.463477e+04         1
...     ...   ...    ...         ...                      ...       ...
1429      6    29     12   448042.49            -2.112386e+05         0
1430      6    29     13   175339.24            -4.839418e+05         0
1431      6    29     14   595282.22            -6.399883e+04         0
1432      6    29     15   496864.55            -1.624165e+05         0
1433      6    29     16   529778.87            -1.295022e+05         0
1434      6    29     17   652790.32            -6.490733e+03         0
1435      6    29     18   685702.57             2.642152e+04         1
1436      6    29     19   579430.24            -7.985081e+04         0
1437      6    29     20   324702.49            -3.345786e+05         0
1438      6    29     21   313950.82            -3.453302e+05         0
1439      6    29     22   253581.89            -4.056992e+05         0
1440      6    29     23   167889.70            -4.913914e+05         0
1441      6    30      1     1971.25            -6.573098e+05         0
1442      6    30      6    25900.00            -6.333811e+05         0
1443      6    30      7    42718.90            -6.165622e+05         0
1444      6    30      8   152707.06            -5.065740e+05         0
1445      6    30      9   292071.47            -3.672096e+05         0
1446      6    30     10   627044.88            -3.223617e+04         0
1447      6    30     11   691310.63             3.202958e+04         1
1448      6    30     12   689443.09             3.016204e+04         1
1449      6    30     13   291133.63            -3.681474e+05         0
1450      6    30     14   314165.34            -3.451157e+05         0
1451      6    30     15   487638.12            -1.716429e+05         0
1452      6    30     16   773544.59             1.142635e+05         1
1453      6    30     17   896715.69             2.374346e+05         1
1454      6    30     18   825614.62             1.663336e+05         1
1455      6    30     19   864592.32             2.053113e+05         1
1456      6    30     20   745862.08             8.658103e+04         1
1457      6    30     21   489543.79            -1.697373e+05         0
1458      6    30     22   126372.40            -5.329087e+05         0

[1459 rows x 6 columns]

## divide data into X and  Y.

In [22]:
x = df1.iloc[:, [0,1,2]].values

In [23]:
y = df1.iloc[:, 5].values

In [24]:
x , y

(array([[ 4,  1,  0],
        [ 4,  1,  1],
        [ 4,  1,  6],
        ...,
        [ 6, 30, 20],
        [ 6, 30, 21],
        [ 6, 30, 22]], dtype=int64), array([0, 0, 0, ..., 1, 0, 0]))

## Divide data based on testing and training.

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=20)

In [26]:
from collections import Counter
Counter(y_train)

Counter({0: 497, 1: 480})

In [27]:
#Support vector regression
clf = svm.SVC()
#training
clf.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [28]:
#prediction
prd=clf.predict(x_test)

In [29]:
#accuracy
clf.score(x_test, y_test)

0.88174273858921159