## PROJECT

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz0111', api_key='EkmPvnKrZSsK9wycPPbE')

In [2]:
import plotly.offline as offline

In [3]:
%matplotlib inline

## Read Files

In [4]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison






## This show the shape of the data ,Its shows that we have  17 Columns and 1350342 Rows in the Data Frame. and also shows the name of columns present in it.

In [5]:
df.shape , df.columns

((1365678, 19),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours'],
       dtype='object'))

In [14]:
df.groupby('TRANSACTION_TYPE').size()

TRANSACTION_TYPE
ATM Cash Withdrawal          75052
ATM Cash Withdrawal OnUs      7420
CNIC To Wallet                  43
IBFT Channel                 36192
IBFT Host                    12146
OTC Bill Payment            769498
OTC IBFT                     13985
OTC Receive Money           218887
OTC Send Money              223718
Wallet To CNIC                8737
dtype: int64

## Sort All the Data.
##  Ist of all we choose CHANNEL = 'USSD' and TRANSACTION_TYPE == 'OTC Send Money'.

In [6]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Send Money')])

## Sum apply on Total_deduction and Revnue Columns by using the TRANSACTION_TYPE column.

In [83]:
df

,DATE_AND_TIME,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
41,2017-04-01 00:06:31,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,13.80,106.19,25.0,3.75,Karachi,FULLYPROCESSED,148.74,1851.26,1,4,Saturday,0
44,2017-04-01 00:07:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,4000.0,20.71,159.29,37.5,5.63,Karachi,FULLYPROCESSED,223.13,3776.87,1,4,Saturday,0
110,2017-04-01 06:37:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.88,Lahore,FULLYPROCESSED,74.38,925.62,1,4,Saturday,6
111,2017-04-01 06:41:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,14000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,13435.60,1,4,Saturday,6
116,2017-04-01 06:45:19,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.88,Lakki-Marwat,FULLYPROCESSED,74.38,925.62,1,4,Saturday,6
152,2017-04-01 07:03:45,USSD,ROLE_AGENT_CHILD,OTC Send Money,10000.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9564.20,1,4,Saturday,7
153,2017-04-01 07:05:03,USSD,ROLE_AGENT_CHILD,OTC Send Money,14000.0,62.07,387.93,100.0,15.00,Chakwal,FULLYPROCESSED,565.00,13435.00,1,4,Saturday,7
154,2017-04-01 07:08:52,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,14435.60,1,4,Saturday,7
156,2017-04-01 07:12:26,USSD,ROLE_AGENT_CHILD,OTC Send Money,13000.0,55.17,344.83,87.5,12.60,Noshki,FULLYPROCESSED,500.10,12499.90,1,4,Saturday,7
157,2017-04-01 07:15:25,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,33.10,206.90,50.0,7.20,Noshki,FULLYPROCESSED,297.20,4702.80,1,4,Saturday,7
161,2017-04-01 07:24:22,USSD,ROLE_AGENT_CHILD,OTC Send Money,6000.0,33.10,206.90,50.0,7.50,Khushab,FULLYPROCESSED,297.50,5702.50,1,4,Saturday,7
163,2017-04-01 07:26:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,940.0,8.28,51.72,12.5,1.88,Nowshera,FULLYPROCESSED,74.38,865.62,1,4,Saturday,7
164,2017-04-01 07:28:59,USSD,ROLE_AGENT_CHILD,OTC Send Money,10000.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9564.20,1,4,Saturday,7
171,2017-04-01 07:46:44,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Gawadar,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
177,2017-04-01 07:59:36,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Noshki,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
192,2017-04-01 08:06:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,14435.60,1,4,Saturday,8
193,2017-04-01 08:06:40,USSD,ROLE_AGENT_CHILD,OTC Send Money,4000.0,24.83,155.17,37.5,5.63,Lakki-Marwat,FULLYPROCESSED,223.13,3776.87,1,4,Saturday,8
195,2017-04-01 07:48:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.75,Depalpur,FULLYPROCESSED,148.75,1851.25,1,4,Saturday,7
196,2017-04-01 07:48:36,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Noshki,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
197,2017-04-01 07:49:25,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.75,Lakki-Marwat,FULLYPROCESSED,148.75,1851.25,1,4,Saturday,7
198,2017-04-01 07:50:04,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.40,Noshki,FULLYPROCESSED,222.90,2777.10,1,4,Saturday,7
201,2017-04-01 07:52:41,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.80,Gawadar,FULLYPROCESSED,74.30,925.70,1,4,Saturday,7
215,2017-04-01 08:08:37,USSD,ROLE_AGENT_CHILD,OTC Send Money,2320.0,16.55,103.45,25.0,3.75,Sambrial,FULLYPROCESSED,148.75,2171.25,1,4,Saturday,8
217,2017-04-01 08:09:00,USSD,ROLE_AGENT_CHILD,OTC Send Money,5750.0,33.10,206.90,50.0,7.20,Kalabagh,FULLYPROCESSED,297.20,5452.80,1,4,Saturday,8
220,2017-04-01 08:10:03,USSD,ROLE_AGENT_CHILD,OTC Send Money,9500.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9064.20,1,4,Saturday,8
224,2017-04-01 08:10:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,2800.0,24.83,155.17,37.5,5.63,Bannu,FULLYPROCESSED,223.13,2576.87,1,4,Saturday,8
229,2017-04-01 08:12:34,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,6.90,53.10,12.5,1.88,Karachi,FULLYPROCESSED,74.38,925.62,1,4,Saturday,8
234,2017-04-01 08:14:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,14550.0,62.07,387.93,100.0,15.00,Sambrial,FULLYPROCESSED,565.00,13985.00,1,4,Saturday,8
239,2017-04-01 08:18:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,33.10,206.90,50.0,7.50,Rajanpur,FULLYPROCESSED,297.50,4702.50,1,4,Saturday,8
241,2017-04-01 08:18:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Batkhela,FULLYPROCESSED,565.00,14435.00,1,4,Saturday,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924158,2017-06-30 21:39:20,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,13.80,106.19,25.0,3.75,Karachi,CAPTURED,148.74,1851.26,30,6,Friday,21
924161,2017-06-30 21:39:29,USSD,ROLE_AGENT_CHILD,OTC Send Money,1500.0,16.55,103.45,25.0,3.75,Faisalabad,FULLYPROCESSED,148.75,1351.25,30,6,Friday,21
924169,2017-06-30 21:40:18,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924184,2017-06-30 21:41:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,3500.0,24.83,155.17,37.5,5.63,Sialkot,0,223.13,3276.87,30,6,Friday,21
924205,2017-06-30 21:42:16,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Chak-Jumra,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924209,2017-06-30 21:42:31,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Lahore,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924248,2017-06-30 21:45:02,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924315,2017-06-30 21:48:18,USSD,ROLE_AGENT_CHILD,OTC Send Money,500.0,8.28,51.72,12.5,1.88,Quetta,0,74.38,425.62,30,6,Friday,21
924320,2017-06-30 21:48:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.63,Quetta,FULLYPROCESSED,223.13,2776.87,30,6,Friday,21
924333,2017-06-30 21:49:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924360,2017-06-30 21:51:06,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,27.61,212.39,50.0,7.50,Hyderabad,CAPTURED,297.50,4702.50,30,6,Friday,21
924366,2017-06-30 21:51:33,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,FULLYPROCESSED,564.40,14435.60,30,6,Friday,21
924371,2017-06-30 21:51:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924382,2017-06-30 21:54:40,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924385,2017-06-30 21:54:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,14550.0,62.07,387.93,100.0,15.00,Lahore,FULLYPROCESSED,565.00,13985.00,30,6,Friday,21
924401,2017-06-30 21:55:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,1880.0,13.80,106.19,25.0,3.75,Karachi,CAPTURED,148.74,1731.26,30,6,Friday,21
924404,2017-06-30 21:55:59,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Chak-Jumra,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924417,2017-06-30 21:53:02,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,FULLYPROCESSED,564.40,14435.60,30,6,Friday,21
924419,2017-06-30 21:53:05,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.80,Sialkot,FULLYPROCESSED,74.30,925.70,30,6,Friday,21
924440,2017-06-30 21:56:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,CAPTURED,564.40,14435.60,30,6,Friday,21
924471,2017-06-30 21:58:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,CAPTURED,564.40,14435.60,30,6,Friday,21
924480,2017-06-30 21:59:21,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Abbottabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924507,2017-06-30 22:01:06,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Faisalabad,CAPTURED,564.40,14435.60,30,6,Friday,22
924508,2017-06-30 22:01:12,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Peshawar,CAPTURED,565.00,14435.00,30,6,Friday,22
924538,2017-06-30 22:03:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Abbottabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,22
924540,2017-06-30 22:03:20,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.40,Noshki,FULLYPROCESSED,222.90,2777.10,30,6,Friday,22
924563,2017-06-30 22:04:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,14500.0,62.07,387.93,100.0,14.40,Faisalabad,CAPTURED,564.40,13935.60,30,6,Friday,22
924575,2017-06-30 22:05:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Faisalabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,22
924585,2017-06-30 22:06:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,940.0,8.28,51.72,12.5,1.88,Abbottabad,0,74.38,865.62,30,6,Friday,22
924635,2017-06-30 22:10:16,USSD,ROLE_AGENT_CHILD,OTC Send Money,7400.0,41.38,258.62,62.5,9.38,Abbottabad,FULLYPROCESSED,371.88,7028.12,30,6,Friday,22

In [84]:
df = df.groupby('date')['Total_deduction','Revnue','AMOUNT'].sum().astype(int)

In [88]:
df

      Total_deduction    Revnue    AMOUNT
date
1             1787729  33331320  35119050
2             1689138  31692711  33381850
3             2274847  43330308  45605156
4             1971676  37064488  39036165
5             2078903  38968127  41047031
6             2145212  40281174  42426387
7             1893104  35359847  37252952
8             1396474  26256786  27653261
9             1364471  25693268  27057740
10            1442319  26776126  28218446
11            1273492  23333075  24606568
12            1311741  24770397  26082139
13            1350497  25353975  26704473
14            1126519  20702049  21828569
15            3689362  68582022  72271385
16            1845072  33684786  35529859
17            2170832  39937169  42108002
18            1933863  35714654  37648518
19            2057747  37804128  39861876
20            2131789  39455952  41587742
21            1909683  35142786  37052470
22            1686004  31789227  33475232
23            1671282  31589844  33261127
24            1712442  31855217  33567660
25            1453952  26137802  27591755
26             674949  12427325  13102275
27             845540  15884288  16729829
28             490640   8838189   9328830
29             850318  15945771  16796090
30            1032514  20442525  21475040

## Now create a variable name Total_Deduction and load column Total_deduction in it. as you see below The Datframe which shows the  Total_deduction and revnue with respect to Transactions_type which is ' OTC Send Money	' .  












## we choose USSD as a Channel and  OTC Bill Payment as a Transactions type. All graphs based on these Categories. 

##  1-DOM (0-31)                  2- DOW (0-6)                      3.WOM (1-5)

In [87]:
Total_Deduction = df.groupby('date')['Total_deduction'].sum()

In [89]:
Total_Deduction.index , Total_Deduction.values

(Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
            dtype='int64', name='date'),
 array([1787729, 1689138, 2274847, 1971676, 2078903, 2145212, 1893104,
        1396474, 1364471, 1442319, 1273492, 1311741, 1350497, 1126519,
        3689362, 1845072, 2170832, 1933863, 2057747, 2131789, 1909683,
        1686004, 1671282, 1712442, 1453952,  674949,  845540,  490640,
         850318, 1032514]))

In [90]:
data = [go.Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            text=Total_Deduction.values,
            textposition = 'auto'
    )]
layout = Layout(title="6Months DateWise Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [92]:
Revnue_Generated = df.groupby('date')['Revnue'].sum()

In [93]:
data = [go.Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            text=Revnue_Generated.values,
            textposition = 'auto'
)]
layout = Layout(title="6Months DateWise Revnue Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [23]:
df.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64', name='date')

In [106]:
Revnue_profit = Bar(
            x=df.index,
            y=Revnue_Generated.values,
            name='Revnue',
            marker=dict(color='#ffcdd2'),
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction_Taxes = Bar(
            x=df.index,
            y=Total_Deduction.values,
            name='Deduction',
            marker=dict(color='#A2D5F2'),
            text=Total_Deduction.values,
            textposition = 'auto'
    )

data = ([Revnue_profit, Deduction_Taxes])
layout = Layout(title="6Months Revnue and Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [96]:
Total_Revnue_Deduction = df.groupby('date')['AMOUNT'].sum()

In [105]:
Revnue = Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            name='Revnue',
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            name='Deduction',
            text=Total_Deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in thousands)'),
                barmode='stack'  )


fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [102]:
data = [Bar(
            x=Total_Revnue_Deduction.index,
            y=Total_Revnue_Deduction.values,
            text=Total_Revnue_Deduction.values,
            textposition = 'auto'
)]
layout = Layout(title="6Months DateWise Total AMOUNT",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

## 2-DOW  (0-6)

##  Load complete data in DataFrame.
##  Filter data on selecting 'USSD' as a Channel and  'OTC Bill Payment' .
##  Apply groupby query to show the sum of Columns on the base of 'WeekDay_Name'.

In [63]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [47]:
df.groupby('TRANSACTION_TYPE').size()

TRANSACTION_TYPE
ATM Cash Withdrawal          75052
ATM Cash Withdrawal OnUs      7420
CNIC To Wallet                  43
IBFT Channel                 36192
IBFT Host                    12146
OTC Bill Payment            769498
OTC IBFT                     13985
OTC Receive Money           218887
OTC Send Money              223718
Wallet To CNIC                8737
dtype: int64

In [64]:
(df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE == 'OTC Send Money')])

,DATE_AND_TIME,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
41,2017-04-01 00:06:31,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,13.80,106.19,25.0,3.75,Karachi,FULLYPROCESSED,148.74,1851.26,1,4,Saturday,0
44,2017-04-01 00:07:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,4000.0,20.71,159.29,37.5,5.63,Karachi,FULLYPROCESSED,223.13,3776.87,1,4,Saturday,0
110,2017-04-01 06:37:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.88,Lahore,FULLYPROCESSED,74.38,925.62,1,4,Saturday,6
111,2017-04-01 06:41:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,14000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,13435.60,1,4,Saturday,6
116,2017-04-01 06:45:19,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.88,Lakki-Marwat,FULLYPROCESSED,74.38,925.62,1,4,Saturday,6
152,2017-04-01 07:03:45,USSD,ROLE_AGENT_CHILD,OTC Send Money,10000.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9564.20,1,4,Saturday,7
153,2017-04-01 07:05:03,USSD,ROLE_AGENT_CHILD,OTC Send Money,14000.0,62.07,387.93,100.0,15.00,Chakwal,FULLYPROCESSED,565.00,13435.00,1,4,Saturday,7
154,2017-04-01 07:08:52,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,14435.60,1,4,Saturday,7
156,2017-04-01 07:12:26,USSD,ROLE_AGENT_CHILD,OTC Send Money,13000.0,55.17,344.83,87.5,12.60,Noshki,FULLYPROCESSED,500.10,12499.90,1,4,Saturday,7
157,2017-04-01 07:15:25,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,33.10,206.90,50.0,7.20,Noshki,FULLYPROCESSED,297.20,4702.80,1,4,Saturday,7
161,2017-04-01 07:24:22,USSD,ROLE_AGENT_CHILD,OTC Send Money,6000.0,33.10,206.90,50.0,7.50,Khushab,FULLYPROCESSED,297.50,5702.50,1,4,Saturday,7
163,2017-04-01 07:26:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,940.0,8.28,51.72,12.5,1.88,Nowshera,FULLYPROCESSED,74.38,865.62,1,4,Saturday,7
164,2017-04-01 07:28:59,USSD,ROLE_AGENT_CHILD,OTC Send Money,10000.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9564.20,1,4,Saturday,7
171,2017-04-01 07:46:44,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Gawadar,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
177,2017-04-01 07:59:36,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Noshki,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
192,2017-04-01 08:06:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Noshki,FULLYPROCESSED,564.40,14435.60,1,4,Saturday,8
193,2017-04-01 08:06:40,USSD,ROLE_AGENT_CHILD,OTC Send Money,4000.0,24.83,155.17,37.5,5.63,Lakki-Marwat,FULLYPROCESSED,223.13,3776.87,1,4,Saturday,8
195,2017-04-01 07:48:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.75,Depalpur,FULLYPROCESSED,148.75,1851.25,1,4,Saturday,7
196,2017-04-01 07:48:36,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.60,Noshki,FULLYPROCESSED,148.60,1851.40,1,4,Saturday,7
197,2017-04-01 07:49:25,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,16.55,103.45,25.0,3.75,Lakki-Marwat,FULLYPROCESSED,148.75,1851.25,1,4,Saturday,7
198,2017-04-01 07:50:04,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.40,Noshki,FULLYPROCESSED,222.90,2777.10,1,4,Saturday,7
201,2017-04-01 07:52:41,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.80,Gawadar,FULLYPROCESSED,74.30,925.70,1,4,Saturday,7
215,2017-04-01 08:08:37,USSD,ROLE_AGENT_CHILD,OTC Send Money,2320.0,16.55,103.45,25.0,3.75,Sambrial,FULLYPROCESSED,148.75,2171.25,1,4,Saturday,8
217,2017-04-01 08:09:00,USSD,ROLE_AGENT_CHILD,OTC Send Money,5750.0,33.10,206.90,50.0,7.20,Kalabagh,FULLYPROCESSED,297.20,5452.80,1,4,Saturday,8
220,2017-04-01 08:10:03,USSD,ROLE_AGENT_CHILD,OTC Send Money,9500.0,48.28,301.72,75.0,10.80,Noshki,FULLYPROCESSED,435.80,9064.20,1,4,Saturday,8
224,2017-04-01 08:10:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,2800.0,24.83,155.17,37.5,5.63,Bannu,FULLYPROCESSED,223.13,2576.87,1,4,Saturday,8
229,2017-04-01 08:12:34,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,6.90,53.10,12.5,1.88,Karachi,FULLYPROCESSED,74.38,925.62,1,4,Saturday,8
234,2017-04-01 08:14:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,14550.0,62.07,387.93,100.0,15.00,Sambrial,FULLYPROCESSED,565.00,13985.00,1,4,Saturday,8
239,2017-04-01 08:18:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,33.10,206.90,50.0,7.50,Rajanpur,FULLYPROCESSED,297.50,4702.50,1,4,Saturday,8
241,2017-04-01 08:18:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Batkhela,FULLYPROCESSED,565.00,14435.00,1,4,Saturday,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924158,2017-06-30 21:39:20,USSD,ROLE_AGENT_CHILD,OTC Send Money,2000.0,13.80,106.19,25.0,3.75,Karachi,CAPTURED,148.74,1851.26,30,6,Friday,21
924161,2017-06-30 21:39:29,USSD,ROLE_AGENT_CHILD,OTC Send Money,1500.0,16.55,103.45,25.0,3.75,Faisalabad,FULLYPROCESSED,148.75,1351.25,30,6,Friday,21
924169,2017-06-30 21:40:18,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924184,2017-06-30 21:41:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,3500.0,24.83,155.17,37.5,5.63,Sialkot,0,223.13,3276.87,30,6,Friday,21
924205,2017-06-30 21:42:16,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Chak-Jumra,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924209,2017-06-30 21:42:31,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Lahore,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924248,2017-06-30 21:45:02,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924315,2017-06-30 21:48:18,USSD,ROLE_AGENT_CHILD,OTC Send Money,500.0,8.28,51.72,12.5,1.88,Quetta,0,74.38,425.62,30,6,Friday,21
924320,2017-06-30 21:48:38,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.63,Quetta,FULLYPROCESSED,223.13,2776.87,30,6,Friday,21
924333,2017-06-30 21:49:11,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924360,2017-06-30 21:51:06,USSD,ROLE_AGENT_CHILD,OTC Send Money,5000.0,27.61,212.39,50.0,7.50,Hyderabad,CAPTURED,297.50,4702.50,30,6,Friday,21
924366,2017-06-30 21:51:33,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,FULLYPROCESSED,564.40,14435.60,30,6,Friday,21
924371,2017-06-30 21:51:50,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924382,2017-06-30 21:54:40,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Narowal,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924385,2017-06-30 21:54:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,14550.0,62.07,387.93,100.0,15.00,Lahore,FULLYPROCESSED,565.00,13985.00,30,6,Friday,21
924401,2017-06-30 21:55:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,1880.0,13.80,106.19,25.0,3.75,Karachi,CAPTURED,148.74,1731.26,30,6,Friday,21
924404,2017-06-30 21:55:59,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Chak-Jumra,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924417,2017-06-30 21:53:02,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,FULLYPROCESSED,564.40,14435.60,30,6,Friday,21
924419,2017-06-30 21:53:05,USSD,ROLE_AGENT_CHILD,OTC Send Money,1000.0,8.28,51.72,12.5,1.80,Sialkot,FULLYPROCESSED,74.30,925.70,30,6,Friday,21
924440,2017-06-30 21:56:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,CAPTURED,564.40,14435.60,30,6,Friday,21
924471,2017-06-30 21:58:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Kalabagh,CAPTURED,564.40,14435.60,30,6,Friday,21
924480,2017-06-30 21:59:21,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Abbottabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,21
924507,2017-06-30 22:01:06,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,14.40,Faisalabad,CAPTURED,564.40,14435.60,30,6,Friday,22
924508,2017-06-30 22:01:12,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Peshawar,CAPTURED,565.00,14435.00,30,6,Friday,22
924538,2017-06-30 22:03:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Abbottabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,22
924540,2017-06-30 22:03:20,USSD,ROLE_AGENT_CHILD,OTC Send Money,3000.0,24.83,155.17,37.5,5.40,Noshki,FULLYPROCESSED,222.90,2777.10,30,6,Friday,22
924563,2017-06-30 22:04:47,USSD,ROLE_AGENT_CHILD,OTC Send Money,14500.0,62.07,387.93,100.0,14.40,Faisalabad,CAPTURED,564.40,13935.60,30,6,Friday,22
924575,2017-06-30 22:05:32,USSD,ROLE_AGENT_CHILD,OTC Send Money,15000.0,62.07,387.93,100.0,15.00,Faisalabad,FULLYPROCESSED,565.00,14435.00,30,6,Friday,22
924585,2017-06-30 22:06:08,USSD,ROLE_AGENT_CHILD,OTC Send Money,940.0,8.28,51.72,12.5,1.88,Abbottabad,0,74.38,865.62,30,6,Friday,22
924635,2017-06-30 22:10:16,USSD,ROLE_AGENT_CHILD,OTC Send Money,7400.0,41.38,258.62,62.5,9.38,Abbottabad,FULLYPROCESSED,371.88,7028.12,30,6,Friday,22

In [65]:
df.groupby('WeekDay_Name')[['AMOUNT','Total_deduction','Revnue']].sum().astype(int)

                  AMOUNT  Total_deduction      Revnue
WeekDay_Name
Friday         924207483         12495019   911712464
Monday         988691424         12649214   976042209
Saturday       726496615         12831120   713665495
Sunday         417884981          8062583   409822397
Thursday      1048785794         14589805  1034195989
Tuesday        974998042         12764526   962233515
Wednesday      901101316         12140144   888961172

In [30]:
Total_AMOUNT = df.groupby('WeekDay_Name')['AMOUNT'].sum().astype(int)

In [101]:
data = [go.Bar(
            x=Total_AMOUNT.index,
            y=Total_AMOUNT.values,
            text=Total_AMOUNT.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Amount of 'OTC Send Money' Transactions",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in BILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [32]:
Total_Revnue = df.groupby('WeekDay_Name')['Revnue'].sum().astype(int)

In [100]:
data = [go.Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            text=Total_Revnue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Revnue AMOUNT",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [75]:
Total_deduction = df.groupby('WeekDay_Name')[['Total_deduction']].sum().astype(int)

In [99]:
data = [go.Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            text=Total_deduction.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total deduction AMOUNT ",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [98]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=Total_Revnue.index,
    y=Total_Revnue.values,
    name='Revnue',
    text=Total_Revnue.values,
    textposition = 'auto'  
)
trace2 = go.Bar(
    x=Total_deduction.index,
    y=Total_deduction.values,
    name='Deduction',
    text=Total_deduction.values,
    textposition = 'auto'  
)

data = [trace1, trace2]

layout = Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Weekdays'),
                yaxis=dict(title='AMOUNT (in thousands)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

In [1]:
import datetime
import calendar
import pandas as pd

def week_of_month(tgtdate):
    tgtdate = pd.to_datetime(tgtdate)

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

In [ ]:
for x in df.new_date.index:
    df['Week_No'] = week_of_month(df.new_date[x])

In [9]:
df.groupby('new_date')['Revnue','Total_deduction'].sum().astype(int)

              Revnue  Total_deduction
new_date
2017-04-01  15832583           858876
2017-04-02   8902832           493867
2017-04-03  15496226           822237
2017-04-04  15306220           817095
2017-04-05  14981361           810686
2017-04-06  15583606           830843
2017-04-07  12603991           680088
2017-04-15  15132318           830080
2017-04-16   8982914           506130
2017-04-17  13948978           757091
2017-04-18  14426800           772115
2017-04-19  13798681           753770
2017-04-20  13704802           741306
2017-04-21  11033848           610488
2017-05-01   7400888           395488
2017-05-02  11311352           593334
2017-05-03  12299361           650980
2017-05-04  12300142           654310
2017-05-05  11536627           614573
2017-05-06  11396543           614909
2017-05-07   8679655           488714
2017-05-08  12191930           656729
2017-05-09  12642663           676714
2017-05-10  12382793           678652
2017-05-11  13329146           723788
2017-05-12   9708026           516926
2017-05-13  11396177           613712
2017-05-14   6972932           392962
2017-05-15  23787633          1280402
2017-05-16  12333297           669777
...              ...              ...
2017-06-01  10097848           533364
2017-06-02  11478526           601936
2017-06-03  15534721           801628
2017-06-04   9458125           500270
2017-06-05  12450139           653642
2017-06-06  13301024           699459
2017-06-07  14076200           724301
2017-06-08  14064855           739745
2017-06-09  13050604           687757
2017-06-10  14393332           763667
2017-06-11  10003929           549703
2017-06-12  15062370           794815
2017-06-13  13957798           736784
2017-06-14  13729117           733556
2017-06-15  29662069          1578880
2017-06-16  12368574           669164
2017-06-17  13775888           739988
2017-06-18   8749984           481784
2017-06-19  13428380           714400
2017-06-20  13773252           739932
2017-06-21  16172335           852879
2017-06-22  20369864          1059022
2017-06-23  20003601          1036057
2017-06-24  20078940          1067933
2017-06-25  13811523           789567
2017-06-26    879578            50167
2017-06-27   1443686            86512
2017-06-28   1964950           114319
2017-06-29   5643792           300600
2017-06-30   7826857           388292

[74 rows x 2 columns]

In [33]:
Send_Money_Revnue =  df.groupby('new_date')['Revnue'].sum().astype(int)

In [34]:
Send_Money_Deduction = df.groupby('new_date')['Total_deduction'].sum().astype(int)

In [35]:
Send_Money_Revnue.index , Send_Money_Deduction.values

(Index(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
        '2017-04-06', '2017-04-07', '2017-04-15', '2017-04-16', '2017-04-17',
        '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-05-01',
        '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-06',
        '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
        '2017-05-12', '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
        '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20', '2017-05-21',
        '2017-05-22', '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26',
        '2017-05-27', '2017-05-28', '2017-05-29', '2017-05-30', '2017-06-01',
        '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05', '2017-06-06',
        '2017-06-07', '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11',
        '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15', '2017-06-16',
        '2017-06-17', '2017-06-18', '2017-06-19', '2017-06-20', '2017-06-21',
        '2017-06-22', '2017-06-23', '2017-06-24', '2017-06-25', '2017-06-26',
        '2017-06-27', '2017-06-28', '2017-06-29', '2017-06-30'],
       dtype='object', name='new_date'),
 array([ 858876,  493867,  822237,  817095,  810686,  830843,  680088,
         830080,  506130,  757091,  772115,  753770,  741306,  610488,
         395488,  593334,  650980,  654310,  614573,  614909,  488714,
         656729,  676714,  678652,  723788,  516926,  613712,  392962,
        1280402,  669777,  673752,  679963,  589576,  650550,  446315,
         626982,  635225,  644508,  664385,  624781,  759028,  376320,
         549717,  644221,  533364,  601936,  801628,  500270,  653642,
         699459,  724301,  739745,  687757,  763667,  549703,  794815,
         736784,  733556, 1578880,  669164,  739988,  481784,  714400,
         739932,  852879, 1059022, 1036057, 1067933,  789567,   50167,
          86512,  114319,  300600,  388292]))

In [38]:
trace = go.Scatter(x=Send_Money_Revnue.index,
                   y=Send_Money_Revnue.values)

data = [trace]
layout = dict(
    title='Time series Send_Money_Revnue ',
    )


fig = dict(data=data, layout=layout)
py.iplot(fig)

In [39]:
trace = go.Scatter(x=Send_Money_Deduction.index,
                   y=Send_Money_Deduction.values)

data = [trace]
layout = dict(
    title='Time series Send_Money_Deduction ',
    )


fig = dict(data=data, layout=layout)
py.iplot(fig)

In [22]:
df1 = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [20]:
df1.TRANSACTION_TYPE

0          ATM Cash Withdrawal OnUs
1          ATM Cash Withdrawal OnUs
2               ATM Cash Withdrawal
3          ATM Cash Withdrawal OnUs
4               ATM Cash Withdrawal
5               ATM Cash Withdrawal
6               ATM Cash Withdrawal
7               ATM Cash Withdrawal
8          ATM Cash Withdrawal OnUs
9          ATM Cash Withdrawal OnUs
10              ATM Cash Withdrawal
11         ATM Cash Withdrawal OnUs
12              ATM Cash Withdrawal
13              ATM Cash Withdrawal
14         ATM Cash Withdrawal OnUs
15              ATM Cash Withdrawal
16         ATM Cash Withdrawal OnUs
17                        IBFT Host
18         ATM Cash Withdrawal OnUs
19                        IBFT Host
20         ATM Cash Withdrawal OnUs
21                        IBFT Host
22         ATM Cash Withdrawal OnUs
23         ATM Cash Withdrawal OnUs
24              ATM Cash Withdrawal
25              ATM Cash Withdrawal
26              ATM Cash Withdrawal
27         ATM Cash Withdrawal OnUs
28                 OTC Bill Payment
29                 OTC Bill Payment
                     ...
1365648            OTC Bill Payment
1365649            OTC Bill Payment
1365650                IBFT Channel
1365651                IBFT Channel
1365652                IBFT Channel
1365653            OTC Bill Payment
1365654            OTC Bill Payment
1365655                IBFT Channel
1365656            OTC Bill Payment
1365657            OTC Bill Payment
1365658            OTC Bill Payment
1365659            OTC Bill Payment
1365660            OTC Bill Payment
1365661                IBFT Channel
1365662            OTC Bill Payment
1365663            OTC Bill Payment
1365664            OTC Bill Payment
1365665                IBFT Channel
1365666            OTC Bill Payment
1365667                IBFT Channel
1365668            OTC Bill Payment
1365669         ATM Cash Withdrawal
1365670         ATM Cash Withdrawal
1365671         ATM Cash Withdrawal
1365672         ATM Cash Withdrawal
1365673                IBFT Channel
1365674                IBFT Channel
1365675                IBFT Channel
1365676            OTC Bill Payment
1365677            OTC Bill Payment
Name: TRANSACTION_TYPE, Length: 1365678, dtype: object

In [25]:
df1 = (df1[(df1.CHANNEL == 'USSD') & (df1.TRANSACTION_TYPE== 'OTC Bill Payment')])

In [28]:
df1.groupby('new_date')['Revnue','Total_deduction'].sum().astype(int)

              Revnue  Total_deduction
new_date
2017-04-01   2341959            10101
2017-04-02   2452227            11899
2017-04-03  11148277            44494
2017-04-04  13014522            53338
2017-04-05  19521454            69247
2017-04-06   9735129            38534
2017-04-07   6964796            28514
2017-04-15   1442874             5792
2017-04-16   1945260             8335
2017-04-17   9654896            34653
2017-04-18   7772818            27393
2017-04-19   9931602            32277
2017-04-20  10627525            31546
2017-04-21  12334757            36203
2017-05-01   1639806             8277
2017-05-02   7409232            33766
2017-05-03   6135876            21842
2017-05-04   9131765            32811
2017-05-05  20261650            60816
2017-05-06   2159686             7582
2017-05-07   2095171             7596
2017-05-08  14680044            42525
2017-05-09  12416382            37902
2017-05-10  11762348            34957
2017-05-11   9828179            29953
2017-05-12   8194442            21685
2017-05-13   1376846             5746
2017-05-14   1410207             6529
2017-05-15  22351730            75455
2017-05-16   7314303            22401
...              ...              ...
2017-09-01    704088             2760
2017-09-02    183676             1199
2017-09-03    319348             1287
2017-09-04    818171             3516
2017-09-05   8668031            30516
2017-09-06   8358084            24004
2017-09-07   7204059            16032
2017-09-08   6459075            13025
2017-09-09   1228259             3073
2017-09-10   1092050             2700
2017-09-11   8290734            15757
2017-09-12   8524387            17519
2017-09-13   8264481            17621
2017-09-14   6665712            13269
2017-09-15   6282035            10984
2017-09-16    681424             1860
2017-09-17    616526             1616
2017-09-18   4793035             9230
2017-09-19   4950362            11049
2017-09-20   7575034            14703
2017-09-21  13831646            26517
2017-09-22  10629600            19800
2017-09-23   2257309             5276
2017-09-24   1577563             4284
2017-09-25  18439566            32756
2017-09-26  14938694            30154
2017-09-27  11369987            23207
2017-09-28  10765550            22337
2017-09-29   7013813            14027
2017-09-30    341054             1447

[165 rows x 2 columns]

In [31]:
OTC_Bill_Revnue =  df1.groupby('new_date')['Revnue'].sum().astype(int)

In [32]:
OTC_Bill_deduction = df1.groupby('new_date')['Total_deduction'].sum().astype(int)

In [36]:
trace = go.Scatter(x=OTC_Bill_Revnue.index,
                   y=OTC_Bill_Revnue.values)

data = [trace]
layout = dict(
    title='Time series OTC_Bill_Revnue ',
    )

fig = dict(data=data, layout=layout)
py.iplot(fig)

In [37]:
trace = go.Scatter(x=OTC_Bill_deduction.index,
                   y=OTC_Bill_deduction.values)

data = [trace]
layout = dict(
    title='Time series OTC_Bill_deduction ',
    )


fig = dict(data=data, layout=layout)
py.iplot(fig)