## PROJECT

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz0111', api_key='EkmPvnKrZSsK9wycPPbE')

In [2]:
import plotly.offline as offline

In [3]:
%matplotlib inline

## Read Files

In [4]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison






## This show the shape of the data ,Its shows that we have  17 Columns and 1350342 Rows in the Data Frame. and also shows the name of columns present in it.

In [5]:
df.shape , df.columns

((1365678, 20),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours', 'wom'],
       dtype='object'))

In [8]:
df = df.groupby('TRANSACTION_TYPE').size()

In [9]:
df.index , df.values

(Index(['ATM Cash Withdrawal', 'ATM Cash Withdrawal OnUs', 'CNIC To Wallet',
        'IBFT Channel', 'IBFT Host', 'OTC Bill Payment', 'OTC IBFT',
        'OTC Receive Money', 'OTC Send Money', 'Wallet To CNIC'],
       dtype='object', name='TRANSACTION_TYPE'),
 array([ 75052,   7420,     43,  36192,  12146, 769498,  13985, 218887,
        223718,   8737], dtype=int64))

In [19]:
import plotly.plotly as py
import plotly.graph_objs as go

fig = {
  "data": [
    {
      "values": df.values,
      "labels": df.index,
      "domain": {"x": [0, .48]},
      "name": "TRANSACTION TYPE",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },     
   
      ],
  "layout": {
        "title":" SIZE OF TRANSACTION TYPES",
        "annotations": [
            {
                "font": {
                    "size": 12
                },
                "showarrow": False,
                "text": "TRANSACTION",
                "x": 0.20,
                "y": 0.5
            },
            
        ]
    }
}
py.iplot(fig, filename='donut')

## Sort All the Data.
##  Ist of all we choose CHANNEL = 'USSD' and TRANSACTION_TYPE == 'OTC Bill Payment'.

In [8]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Bill Payment')])

In [9]:
df.shape

(729002, 20)

In [35]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
29,2017-04-01 00:00:22,2017-04-01,00:00:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3957.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,3952.40,1,4,Saturday,0
30,2017-04-01 00:00:32,2017-04-01,00:00:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2859.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,2854.40,1,4,Saturday,0
31,2017-04-01 00:01:33,2017-04-01,00:01:33,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,643.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,638.40,1,4,Saturday,0
32,2017-04-01 00:01:58,2017-04-01,00:01:58,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1387.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,1382.42,1,4,Saturday,0
33,2017-04-01 00:02:25,2017-04-01,00:02:25,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,5563.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,5558.40,1,4,Saturday,0
34,2017-04-01 00:02:30,2017-04-01,00:02:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2407.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,2402.40,1,4,Saturday,0
35,2017-04-01 00:03:30,2017-04-01,00:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2080.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,2075.40,1,4,Saturday,0
36,2017-04-01 00:04:17,2017-04-01,00:04:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1635.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1630.40,1,4,Saturday,0
39,2017-04-01 00:05:26,2017-04-01,00:05:26,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,663.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,658.42,1,4,Saturday,0
40,2017-04-01 00:06:07,2017-04-01,00:06:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1615.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,1610.40,1,4,Saturday,0
42,2017-04-01 00:06:55,2017-04-01,00:06:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,230.0,0.0,0.0,4.0,0.60,Kohat,CAPTURED,4.60,225.40,1,4,Saturday,0
43,2017-04-01 00:07:13,2017-04-01,00:07:13,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1024.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,1019.40,1,4,Saturday,0
45,2017-04-01 00:08:31,2017-04-01,00:08:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,309.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,304.42,1,4,Saturday,0
46,2017-04-01 00:10:03,2017-04-01,00:10:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2269.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,2264.40,1,4,Saturday,0
47,2017-04-01 00:11:34,2017-04-01,00:11:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2209.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,2204.42,1,4,Saturday,0
48,2017-04-01 00:11:38,2017-04-01,00:11:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3056.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,3051.40,1,4,Saturday,0
49,2017-04-01 00:13:19,2017-04-01,00:13:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1221.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1216.40,1,4,Saturday,0
50,2017-04-01 00:14:46,2017-04-01,00:14:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1491.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1486.40,1,4,Saturday,0
51,2017-04-01 00:17:20,2017-04-01,00:17:20,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1448.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1443.40,1,4,Saturday,0
52,2017-04-01 00:17:34,2017-04-01,00:17:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,698.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,693.42,1,4,Saturday,0
53,2017-04-01 00:19:04,2017-04-01,00:19:04,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1198.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1193.40,1,4,Saturday,0
54,2017-04-01 00:20:08,2017-04-01,00:20:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,626.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,621.42,1,4,Saturday,0
55,2017-04-01 00:20:41,2017-04-01,00:20:41,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4329.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,4324.40,1,4,Saturday,0
56,2017-04-01 00:24:22,2017-04-01,00:24:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1317.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1312.40,1,4,Saturday,0
57,2017-04-01 00:24:48,2017-04-01,00:24:48,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,124.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,119.42,1,4,Saturday,0
58,2017-04-01 00:26:07,2017-04-01,00:26:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,533.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,528.40,1,4,Saturday,0
59,2017-04-01 00:30:08,2017-04-01,00:30:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,833.0,0.0,0.0,4.0,0.58,Taxila,CAPTURED,4.58,828.42,1,4,Saturday,0
60,2017-04-01 00:37:18,2017-04-01,00:37:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,885.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,880.42,1,4,Saturday,0
61,2017-04-01 00:37:46,2017-04-01,00:37:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,797.0,0.0,0.0,4.0,0.58,Taxila,CAPTURED,4.58,792.42,1,4,Saturday,0
62,2017-04-01 00:39:42,2017-04-01,00:39:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,620.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,615.42,1,4,Saturday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365632,2017-09-30 20:43:18,2017-09-30,20:43:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,998.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,993.40,30,9,Saturday,20
1365633,2017-09-30 20:44:45,2017-09-30,20:44:45,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1021.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1016.40,30,9,Saturday,20
1365636,2017-09-30 20:46:49,2017-09-30,20:46:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,405.40,30,9,Saturday,20
1365637,2017-09-30 20:47:32,2017-09-30,20:47:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,185.40,30,9,Saturday,20
1365638,2017-09-30 20:48:19,2017-09-30,20:48:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,290.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,285.40,30,9,Saturday,20
1365639,2017-09-30 20:49:03,2017-09-30,20:49:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,360.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,355.40,30,9,Saturday,20
1365640,2017-09-30 20:49:46,2017-09-30,20:49:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20
1365641,2017-09-30 20:49:59,2017-09-30,20:49:59,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,195.40,30,9,Saturday,20
1365642,2017-09-30 20:50:22,2017-09-30,20:50:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20
1365643,2017-09-30 20:51:00,2017-09-30,20:51:00,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,195.40,30,9,Saturday,20
1365644,2017-09-30 20:56:42,2017-09-30,20:56:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,550.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,545.40,30,9,Saturday,20
1365645,2017-09-30 20:58:55,2017-09-30,20:58:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,7472.0,0.0,0.0,4.0,0.48,Mingora,CAPTURED,4.48,7467.52,30,9,Saturday,20
1365646,2017-09-30 21:05:39,2017-09-30,21:05:39,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4260.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,4255.40,30,9,Saturday,21
1365647,2017-09-30 21:09:31,2017-09-30,21:09:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2516.0,0.0,0.0,4.0,0.58,Sargodha,CAPTURED,4.58,2511.42,30,9,Saturday,21
1365648,2017-09-30 21:11:47,2017-09-30,21:11:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1588.0,0.0,0.0,4.0,0.58,Sargodha,CAPTURED,4.58,1583.42,30,9,Saturday,21
1365649,2017-09-30 21:12:43,2017-09-30,21:12:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,405.40,30,9,Saturday,21
1365653,2017-09-30 21:45:05,2017-09-30,21:45:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,220.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,215.40,30,9,Saturday,21
1365654,2017-09-30 21:52:36,2017-09-30,21:52:36,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1110.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,1105.40,30,9,Saturday,21
1365656,2017-09-30 21:57:47,2017-09-30,21:57:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,457.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,452.40,30,9,Saturday,21
1365657,2017-09-30 21:58:49,2017-09-30,21:58:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1224.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1219.40,30,9,Saturday,21
1365658,2017-09-30 21:59:28,2017-09-30,21:59:28,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1423.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1418.40,30,9,Saturday,21
1365659,2017-09-30 22:00:17,2017-09-30,22:00:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1367.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1362.40,30,9,Saturday,22
1365660,2017-09-30 22:01:03,2017-09-30,22:01:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4914.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,4909.40,30,9,Saturday,22
1365662,2017-09-30 22:02:09,2017-09-30,22:02:09,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3206.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,3201.40,30,9,Saturday,22
1365663,2017-09-30 22:03:30,2017-09-30,22:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,330.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,325.40,30,9,Saturday,22
1365664,2017-09-30 22:03:47,2017-09-30,22:03:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,681.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,676.40,30,9,Saturday,22
1365666,2017-09-30 22:16:38,2017-09-30,22:16:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3178.0,0.0,0.0,4.0,0.60,Narowal,CAPTURED,4.60,3173.40,30,9,Saturday,22
1365668,2017-09-30 22:23:23,2017-09-30,22:23:23,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,205.40,30,9,Saturday,22
1365676,2017-09-30 23:07:43,2017-09-30,23:07:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,0.60,Hyderabad,CAPTURED,4.60,185.40,30,9,Saturday,23
1365677,2017-09-30 23:08:05,2017-09-30,23:08:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2222.0,0.0,0.0,4.0,0.58,Kasur,CAPTURED,4.58,2217.42,30,9,Saturday,23

## Sum apply on Total_deduction and Revnue Columns by using the TRANSACTION_TYPE column.

In [37]:
df = df.groupby('date')['Total_deduction','Revnue'].sum().astype(int)

In [38]:
df1 = df.groupby('date')['Revnue'].sum().astype(int)

In [39]:
df1

date
1     12014338
2     20752894
3     29995139
4     46315002
5     89339065
6     47357647
7     49936361
8     46578969
9     37976644
10    33877207
11    33323754
12    39734081
13    28112064
14    24256095
15    58500248
16    22200982
17    31169168
18    36784463
19    62647864
20    64502302
21    69340127
22    65140681
23    48093527
24    42724017
25    55843859
26    42256038
27    30440920
28    43588652
29    61305716
30    60156113
31    12943521
Name: Revnue, dtype: int32

In [11]:
df2 = df.groupby('date')['Total_deduction'].sum().astype(int)

In [40]:
trace1 = go.Scatter(x=df1.index,
                   y=df1.values)


data = [trace1 ]

layout = Layout(title="Total AMOUNT & Revenue",
                xaxis=dict(title='Months'),
                yaxis=dict(title='AMOUNT (in Million)'),
                barmode='stack'  )



fig = dict(data=data , layout=layout)
py.iplot(fig)

In [41]:
data = [Bar(x=df1.index,
            y=df1.values,
            text=df1.values,
            textposition = 'auto'
    )]
layout = Layout(title="Total Revenue ",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

# this bar plot shows the peak and low Bill Payment details in the month, as given above 5 date in the months have higher transactions and 31st of the month have low transactions.beceause usally most bills sumbission deadlines are start of the month. "

In [24]:
df2 = df.groupby('date')['Total_deduction'].sum().astype(int)

In [34]:
trace = go.Scatter(x=df2.index,
                   y=df2.values)

data = [trace]

layout = Layout(title="Total AMOUNT & Revenue",
                xaxis=dict(title='Months'),
                yaxis=dict(title='AMOUNT (in Million)'),
                barmode='stack'  )
        


fig = dict(data=data , layout=layout)
py.iplot(fig)

In [25]:
data = [Bar(x=df2.index,
            y=df2.values,
            text=df2.values,
            textposition = 'auto'
    )]
layout = Layout(title="Total Deductions ",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [42]:
Revnue = Bar(
            x=df1.index,
            y=df1.values,
            name='Revnue',
            text=df1.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=df2.index,
            y=df2.values,
            name='Deduction',
            text=df2.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in thousands)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

# this bar plot shows the peaks and low Revenue days in the month as given above, 5 date in the months have higher transactions and 30th of the month have low transactions.beceause usally most bills sumbission deadlines are start of the month.

## Now create a variable name Total_Deduction and load column Total_deduction in it. as you see below The Datframe which shows the  Total_deduction and revnue with respect to Transactions_type which is ' OTC Bill Payment' .  

























## we choose USSD as a Channel and  OTC Bill Payment as a Transactions type. All graphs based on these Categories. 

##  1-DOM (0-31)                  2- DOW (0-6)                      3.WOM (1-5)

In [10]:
Total_Deduction = df.groupby('date')['Total_deduction'].sum()

In [11]:
Total_Deduction.index , Total_Deduction.values

(Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
            dtype='int64', name='date'),
 array([2823253, 2547595, 3401750, 3103783, 3421374, 3276467, 3079664,
        2597733, 2366125, 2510443, 2343958, 2422252, 2419936, 1976604,
        5607187, 2957359, 3447004, 3183861, 3452935, 3469220, 3215879,
        2982292, 2838463, 2960265, 2721520, 1775988, 1971725, 1733863,
        2330627, 2275067,  318205]))

In [15]:
data = [Bar(x=Total_Deduction.index,
            y=Total_Deduction.values,
            text=Total_Deduction.values,
            textposition = 'auto'
    )]
layout = Layout(title="6Months DateWise Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [16]:
 Revnue_Generated = df.groupby('date')['Revnue'].sum()

In [17]:
data = [Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            text=Revnue_Generated.values,
            textposition = 'auto'      
)]
layout = Layout(title="6Months DateWise Revnue Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [14]:
df.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64', name='date')

## Deduction and Revnue per day AMOUNT

In [18]:
Revnue_profit = Bar(
            x=df.index,
            y=Revnue_Generated.values,
            name='Revnue',
            marker=dict(color='#ffcdd2'),
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction_Taxes = Bar(
            x=df.index,
            y=Total_Deduction.values,
            name='Deduction',
            marker=dict(color='#A2D5F2'),
            text=Total_Deduction.values,
            textposition = 'auto'
    )

data = ([Revnue_profit, Deduction_Taxes])
layout = Layout(title="6Months DateWise Revnue and Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [16]:
Revnue = Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            name='Revnue',
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            name='Deduction',
            text=Total_Deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in thousands)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

## 2-DOW  (0-6)

##  Load complete data in DataFrame.
##  Filter data on selecting 'USSD' as a Channel and  'OTC Bill Payment' .
##  Apply groupby query to show the sum of Columns on the base of 'WeekDay_Name'.

In [43]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [62]:
(df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE == 'OTC Bill Payment')])

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
29,2017-04-01 00:00:22,2017-04-01,00:00:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3957.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,3952.40,1,4,Saturday,0
30,2017-04-01 00:00:32,2017-04-01,00:00:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2859.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,2854.40,1,4,Saturday,0
31,2017-04-01 00:01:33,2017-04-01,00:01:33,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,643.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,638.40,1,4,Saturday,0
32,2017-04-01 00:01:58,2017-04-01,00:01:58,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1387.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,1382.42,1,4,Saturday,0
33,2017-04-01 00:02:25,2017-04-01,00:02:25,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,5563.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,5558.40,1,4,Saturday,0
34,2017-04-01 00:02:30,2017-04-01,00:02:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2407.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,2402.40,1,4,Saturday,0
35,2017-04-01 00:03:30,2017-04-01,00:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2080.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,2075.40,1,4,Saturday,0
36,2017-04-01 00:04:17,2017-04-01,00:04:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1635.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1630.40,1,4,Saturday,0
39,2017-04-01 00:05:26,2017-04-01,00:05:26,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,663.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,658.42,1,4,Saturday,0
40,2017-04-01 00:06:07,2017-04-01,00:06:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1615.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,1610.40,1,4,Saturday,0
42,2017-04-01 00:06:55,2017-04-01,00:06:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,230.0,0.0,0.0,4.0,0.60,Kohat,CAPTURED,4.60,225.40,1,4,Saturday,0
43,2017-04-01 00:07:13,2017-04-01,00:07:13,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1024.0,0.0,0.0,4.0,0.60,Gujrat,CAPTURED,4.60,1019.40,1,4,Saturday,0
45,2017-04-01 00:08:31,2017-04-01,00:08:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,309.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,304.42,1,4,Saturday,0
46,2017-04-01 00:10:03,2017-04-01,00:10:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2269.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,2264.40,1,4,Saturday,0
47,2017-04-01 00:11:34,2017-04-01,00:11:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2209.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,2204.42,1,4,Saturday,0
48,2017-04-01 00:11:38,2017-04-01,00:11:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3056.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,3051.40,1,4,Saturday,0
49,2017-04-01 00:13:19,2017-04-01,00:13:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1221.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1216.40,1,4,Saturday,0
50,2017-04-01 00:14:46,2017-04-01,00:14:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1491.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1486.40,1,4,Saturday,0
51,2017-04-01 00:17:20,2017-04-01,00:17:20,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1448.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1443.40,1,4,Saturday,0
52,2017-04-01 00:17:34,2017-04-01,00:17:34,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,698.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,693.42,1,4,Saturday,0
53,2017-04-01 00:19:04,2017-04-01,00:19:04,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1198.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1193.40,1,4,Saturday,0
54,2017-04-01 00:20:08,2017-04-01,00:20:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,626.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,621.42,1,4,Saturday,0
55,2017-04-01 00:20:41,2017-04-01,00:20:41,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4329.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,4324.40,1,4,Saturday,0
56,2017-04-01 00:24:22,2017-04-01,00:24:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1317.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1312.40,1,4,Saturday,0
57,2017-04-01 00:24:48,2017-04-01,00:24:48,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,124.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,119.42,1,4,Saturday,0
58,2017-04-01 00:26:07,2017-04-01,00:26:07,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,533.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,528.40,1,4,Saturday,0
59,2017-04-01 00:30:08,2017-04-01,00:30:08,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,833.0,0.0,0.0,4.0,0.58,Taxila,CAPTURED,4.58,828.42,1,4,Saturday,0
60,2017-04-01 00:37:18,2017-04-01,00:37:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,885.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,880.42,1,4,Saturday,0
61,2017-04-01 00:37:46,2017-04-01,00:37:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,797.0,0.0,0.0,4.0,0.58,Taxila,CAPTURED,4.58,792.42,1,4,Saturday,0
62,2017-04-01 00:39:42,2017-04-01,00:39:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,620.0,0.0,0.0,4.0,0.58,Lahore,CAPTURED,4.58,615.42,1,4,Saturday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365632,2017-09-30 20:43:18,2017-09-30,20:43:18,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,998.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,993.40,30,9,Saturday,20
1365633,2017-09-30 20:44:45,2017-09-30,20:44:45,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1021.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,1016.40,30,9,Saturday,20
1365636,2017-09-30 20:46:49,2017-09-30,20:46:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,405.40,30,9,Saturday,20
1365637,2017-09-30 20:47:32,2017-09-30,20:47:32,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,185.40,30,9,Saturday,20
1365638,2017-09-30 20:48:19,2017-09-30,20:48:19,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,290.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,285.40,30,9,Saturday,20
1365639,2017-09-30 20:49:03,2017-09-30,20:49:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,360.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,355.40,30,9,Saturday,20
1365640,2017-09-30 20:49:46,2017-09-30,20:49:46,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20
1365641,2017-09-30 20:49:59,2017-09-30,20:49:59,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,195.40,30,9,Saturday,20
1365642,2017-09-30 20:50:22,2017-09-30,20:50:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,205.40,30,9,Saturday,20
1365643,2017-09-30 20:51:00,2017-09-30,20:51:00,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,200.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,195.40,30,9,Saturday,20
1365644,2017-09-30 20:56:42,2017-09-30,20:56:42,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,550.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,545.40,30,9,Saturday,20
1365645,2017-09-30 20:58:55,2017-09-30,20:58:55,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,7472.0,0.0,0.0,4.0,0.48,Mingora,CAPTURED,4.48,7467.52,30,9,Saturday,20
1365646,2017-09-30 21:05:39,2017-09-30,21:05:39,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4260.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,4255.40,30,9,Saturday,21
1365647,2017-09-30 21:09:31,2017-09-30,21:09:31,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2516.0,0.0,0.0,4.0,0.58,Sargodha,CAPTURED,4.58,2511.42,30,9,Saturday,21
1365648,2017-09-30 21:11:47,2017-09-30,21:11:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1588.0,0.0,0.0,4.0,0.58,Sargodha,CAPTURED,4.58,1583.42,30,9,Saturday,21
1365649,2017-09-30 21:12:43,2017-09-30,21:12:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,405.40,30,9,Saturday,21
1365653,2017-09-30 21:45:05,2017-09-30,21:45:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,220.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,215.40,30,9,Saturday,21
1365654,2017-09-30 21:52:36,2017-09-30,21:52:36,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1110.0,0.0,0.0,4.0,0.60,Attock,CAPTURED,4.60,1105.40,30,9,Saturday,21
1365656,2017-09-30 21:57:47,2017-09-30,21:57:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,457.0,0.0,0.0,4.0,0.60,Rawalpindi,CAPTURED,4.60,452.40,30,9,Saturday,21
1365657,2017-09-30 21:58:49,2017-09-30,21:58:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1224.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1219.40,30,9,Saturday,21
1365658,2017-09-30 21:59:28,2017-09-30,21:59:28,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1423.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1418.40,30,9,Saturday,21
1365659,2017-09-30 22:00:17,2017-09-30,22:00:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1367.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,1362.40,30,9,Saturday,22
1365660,2017-09-30 22:01:03,2017-09-30,22:01:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4914.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,4909.40,30,9,Saturday,22
1365662,2017-09-30 22:02:09,2017-09-30,22:02:09,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3206.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,3201.40,30,9,Saturday,22
1365663,2017-09-30 22:03:30,2017-09-30,22:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,330.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,325.40,30,9,Saturday,22
1365664,2017-09-30 22:03:47,2017-09-30,22:03:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,681.0,0.0,0.0,4.0,0.60,Chakwal,CAPTURED,4.60,676.40,30,9,Saturday,22
1365666,2017-09-30 22:16:38,2017-09-30,22:16:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3178.0,0.0,0.0,4.0,0.60,Narowal,CAPTURED,4.60,3173.40,30,9,Saturday,22
1365668,2017-09-30 22:23:23,2017-09-30,22:23:23,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.0,0.0,4.0,0.60,Karachi,CAPTURED,4.60,205.40,30,9,Saturday,22
1365676,2017-09-30 23:07:43,2017-09-30,23:07:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.0,0.0,4.0,0.60,Hyderabad,CAPTURED,4.60,185.40,30,9,Saturday,23
1365677,2017-09-30 23:08:05,2017-09-30,23:08:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2222.0,0.0,0.0,4.0,0.58,Kasur,CAPTURED,4.58,2217.42,30,9,Saturday,23

In [45]:
df.groupby('WeekDay_Name')[['AMOUNT','Total_deduction','Revnue']].sum().astype(int)

                  AMOUNT  Total_deduction      Revnue
WeekDay_Name
Friday         924207483         12495019   911712464
Monday         988691424         12649214   976042209
Saturday       726496615         12831120   713665495
Sunday         417884981          8062583   409822397
Thursday      1048785794         14589805  1034195989
Tuesday        974998042         12764526   962233515
Wednesday      901101316         12140144   888961172

In [21]:
Total_AMOUNT = df.groupby('WeekDay_Name')['AMOUNT'].sum().astype(int)

In [22]:
data = [go.Bar(
            x=Total_AMOUNT.index,
            y=Total_AMOUNT.values,
            text=Total_AMOUNT.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Amount of Transactions",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in BILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [46]:
Total_Revnue = df.groupby('WeekDay_Name')['Revnue'].sum().astype(int)

In [48]:
data = [Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            text=Total_Revnue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Revnue Generate in Weekdays",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [50]:
Total_deduction = df.groupby('WeekDay_Name')[['Total_deduction']].sum().astype(int)

In [51]:
data = [Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            text=Total_deduction.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total Deduction Generate in Weekdays ",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [24]:
Revnue = Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            name='Revnue',
            text=Total_Revnue.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            name='Deduction',
            text=Total_deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction in weekdays",
                xaxis=dict(title='Weekdays'),
                yaxis=dict(title='Amount (in Billions)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

NameError: name 'Total_Revnue' is not defined

## Now i'll find no of weeks in a month .... and by which i can analysis on which week of the month have average revenue , peak and below average revenue.

## Here below generate a function of finding no of weeks in a month.A column create nam 'wom' to show that a date have in which week of the Month, Then sum all the weeks of the month and show a trend of which week have highest trend and whichone have low trend in the week of months.

In [10]:
import datetime
import calendar
import pandas as pd

def week_of_month(tgtdate):
    tgtdate = pd.to_datetime(tgtdate)

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
1365648    4
1365649    4
1365650    4
1365651    4
1365652    4
1365653    4
1365654    4
1365655    4
1365656    4
1365657    4
1365658    4
1365659    4
1365660    4
1365661    4
1365662    4
1365663    4
1365664    4
1365665    4
1365666    4
1365667    4
1365668    4
1365669    4
1365670    4
1365671    4
1365672    4
1365673    4
1365674    4
1365675    4
1365676    4
1365677    4
Name: wom, Length: 1365678, dtype: int64

In [64]:
#len(df.new_date)
df['wom']=df.new_date.apply(week_of_month)

In [57]:
df = pd.read_csv('Complete_Months_Data.csv',  index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [65]:
df[['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
       'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
       'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
       'Hours','wom']].to_csv('Complete_Months_Data.csv')

In [14]:
df.groupby('wom')['AMOUNT','Revnue','Total_deduction'].sum().astype(int)

        AMOUNT     Revnue  Total_deduction
wom
0     51576384   51399197           177186
1    324186510  323250002           936507
2    236672341  236079925           592415
3    383628683  382748122           880560
4    299036194  298399473           636720
5     55452323   55330752           121570

In [15]:
wom_Revenue = df.groupby('wom')['Revnue'].sum().astype(int)

In [21]:
data = [Bar(
            x=wom_Revenue.index,
            y=wom_Revenue.values,
            text=wom_Revenue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Revnue Generate in Weeks of Month",
                xaxis=dict(title='Weeks In Month'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [16]:
wom_Deduction = df.groupby('wom')['Total_deduction'].sum().astype(int)

In [18]:
data = [Bar(
            x=wom_Deduction.index,
            y=wom_Deduction.values,
            text=wom_Deduction.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Deductions of taxes in Weeks of Month",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [23]:
Revnue = Bar(
            x=wom_Revenue.index,
            y=wom_Revenue.values,
            name='Revnue',
            text=wom_Revenue.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=wom_Deduction.index,
            y=wom_Deduction.values,
            name='Deduction',
            text=wom_Deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction in weeks of Month",
                xaxis=dict(title='Weeks In Month '),
                yaxis=dict(title='Amount (in Billions)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

In [47]:
df.describe().astype(int)

,AMOUNT,FED,FEE,COMMISION,WHT,Total_deduction,Revnue,date,Month,Hours,wom
count,1365678,1365678,1365678,1365678,1365678,1365678,1365678,1365678,1365678,1365678,1365678
mean,4380,5,36,18,2,62,4317,15,6,15,2
std,11336,13,88,27,4,124,11306,8,1,4,1
min,0,0,0,0,0,0,-75,1,4,0,0
25%,735,0,0,4,0,4,728,7,5,12,1
50%,2000,0,0,4,0,4,1945,15,6,16,2
75%,5000,0,15,25,3,58,4754,22,7,19,3
max,2000000,96,619,162,24,886,1999942,31,9,23,5

In [43]:
df.column

Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
       'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
       'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
       'Hours', 'wom'],
      dtype='object')

In [46]:
#df[['DATE_AND_TIME','AMOUNT']].to_csv('../../Desktop/OTC_Bill_payment_all_data.csv')

In [56]:
Revenue_in_WOM = df.groupby('wom')['Revnue'].sum().astype(int)

In [57]:
Revenue_in_WOM.index , Revenue_in_WOM.values

(Int64Index([0, 1, 2, 3, 4, 5], dtype='int64', name='wom'),
 array([ 412035133, 1404660007, 1221628539, 1636060143, 1049821797,
         172427621]))

In [30]:
data = [Bar(
            x=Revenue_in_WOM.index,
            y=Revenue_in_WOM.values,
            text=Revenue_in_WOM.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total Revenue In A Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

NameError: name 'Revenue_in_WOM' is not defined

In [58]:
Total_deduction_in_WOM = df.groupby('wom')['Total_deduction'].sum().astype(int)

In [59]:
Total_deduction_in_WOM.index , Total_deduction_in_WOM.values

(Int64Index([0, 1, 2, 3, 4, 5], dtype='int64', name='wom'),
 array([ 6702742, 20945201, 19294516, 24500028, 12074713,  2015211]))

In [ ]:
data = [Bar(
            x=Total_deduction_in_WOM.index,
            y=Total_deduction_in_WOM.values,
            text=Total_deduction_in_WOM.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total Deduction In Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)